.v-card,
.v-btn,
.v-menu__content {
  border-radius: 6px;
}

ol,
ul {
  text-align: left;
}

.v-alert {
  border-radius: 3px;
}

/** Typography **/
.error--text {
  color: var(--color-error-text);
}

/** END Typography **/

/** Components **/
.combo-selector {
  font-size: 12px;

  &.combo-selector_search.v-select.v-select--is-menu-active .v-input__icon--append,
  &.combo-selector_search.v-select.v-input--is-dirty .v-input__icon--append {
    display: none;
  }

  &.combo-selector_search .v-input__icon--append .v-icon {
    font-size: 20px;
    color: var(--color-theme-grean);
  }

  .v-input__slot {
    margin-bottom: 0;
    padding-left: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;

    &:after,
    &:before {
      border: none !important;
    }
  }

  &.v-select--is-menu-active {
    .v-input__slot {
      border-color: var(--v-primary-base);
    }
  }
}

.coin-info {
  min-height: 100px;
  font-size: 10px;
  color: var(--color-main-text--lightTheme);

  #app.theme--dark & {
    color: var(--color-main-text--darkTheme);
  }

  &__price {
    margin-top: 3px;
    margin-bottom: 5px;
    color: #2cbd6d;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.42px;

    &:hover {
      cursor: pointer;
    }
  }

  &__time-range,
  &__price-range a,
  &__percentage {
    display: flex;
  }

  &__vol {
    margin-top: 3px;
  }

  &__vol span,
  &__time-range span,
  &__percentage span:first-child {
    color: var(--color-secondary-text--lightTheme);
  }

  &__time-range span,
  &__price-range span:first-child,
  &__percentage span:first-child {
    display: flex;
    flex-basis: 55px;
    justify-content: flex-end;
    margin-bottom: 5px;
    padding-right: 18px;
  }

  &__price-range a span:nth-child(2),
  &__percentage span:nth-child(2) {
    font-size: 11px;
    font-weight: 600;
  }
}

/* switch-control */
.switch-control {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}
.switch-control input {
  display: none;
}
.switch-control input:not(:checked) + .slider:before {
  -webkit-animation: goOff 0.7s linear forwards;
  animation: goOff 0.7s linear forwards;
}
.switch-control input:checked + .slider:before {
  background-color: var(--color-error-text);
  transform: translateX(16px);
}
.switch-control .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 1px solid #e9e9e9;
  cursor: pointer;
  background: transparent;

  #app.theme--dark & {
    border-color: var(--color-secondary-text--darkTheme);
  }
}
.switch-control .slider:before {
  position: absolute;
  left: 1px;
  bottom: 1px;
  padding-left: 10px;
  border-radius: 50%;
  content: "";
  height: 12px;
  width: 12px;
  background-color: var(--color-theme-grean);
  transition: all 0.7s ease;
}

/* END switch-control */

.header-table {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #d3d3d3;
  font-size: 10px;
  letter-spacing: -0.2px;
  color: var(--color-secondary-text--lightTheme);

  &:hover {
    color: var(--color-secondary-text--hover--lightTheme);
  }

  &__item {
    position: relative;
    text-align: right;
    cursor: pointer;

    &::after {
      position: absolute;
      left: 0;
      bottom: -16px;
      z-index: 10;
      content: "";
      width: 100%;
      height: 1px;
      background-color: transparent;
    }

    &:hover::after {
      background-color: #fff;
    }
  }
}


/* order-book order-book-list*/
.order-book {

  &__last-price {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
  }

  &__header {
    padding-top: 14px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #d3d3d3;
    font-size: 11px;

    .header-item {
      justify-content: flex-end;
      text-align: right;
    }
  }

}

.order-book-list {
  font-size: rem(10);

  .vl-wrap {
    border: 1px solid transparent !important;
  }

  &__item {
    justify-content: flex-end;
  }

  &__item:not(:last-child) {
    padding-right: 4px;
    border-right: 1px dashed #d3d3d3;

  }
}

.custom-theme.theme--dark {

  h1,h2,h3,h4,h5,h6,
  p,td,th{
    color: white;
  }

  .dark-background{
    background: #424242;
  }

  .header-background{
    background-color: #212121!important;
  }

  .dark-text{
    color:  #424242;
  }

  .white-text{
    color: white;
  }

  .grey-text{
    color: #cccccc;
  }

}

/* END order-book order-book-list*/

/** END Components **/

