$black: #000;
$white: #FFF;
$gray: lightgray;
$color-main-bg-light: #f5f5f5;

:root {
  /** Light Theme **/
  --color-main-text--lightTheme: #333;
  --color-main-text--hover--lightTheme: #5acb8c;
  --color-secondary-text--lightTheme: #999;
  --color-secondary-text--hover--lightTheme: #999;

  /** END Light Theme **/

  /** Dark Theme **/
  --color-main-text--darkTheme: #fff;
  --color-secondary-text--darkTheme: #999;

  /** END Dark Theme **/
  --color-theme-grean: #2cbd6d;
  --color-error-text: #e43a35;
}
