<template>
  <v-card class="window-dashboard-cont">
    <div class="window-dashboard-cont-header">
      <v-tooltip bottom style='margin-left: -25px'>
          <v-btn
                  slot="activator"
                  flat
                  class="pt-1 pb-1"
                  @dblclick="hideWindows"
                  @click="resetWindows"
          >
            <img src="../../assets/svg/dashboard-icons/1.svg"/>
          </v-btn>
          <span>
            {{$t('text.reset_windows')}}<br>
            <span class="font-italic">{{$t('text.hide_windows')}}</span>
          </span>
      </v-tooltip>
      <div class="window-dashboard-cont-arrows">
        <div>
          <v-tooltip bottom>
              <v-icon
                    medium
                    slot="activator"
                    @click="windowsUndo"
                    class="icon-control"
            >
              keyboard_arrow_left
            </v-icon>
              <span>
                <span class="font-italic">{{$t('text.undo_windows')}}</span>
              </span>
          </v-tooltip>
        </div>
        <div>
          <v-tooltip bottom>
            <v-icon
                    medium
                    slot="activator"
                    @click="windowsRedo"
                    class="icon-control"
            >
              keyboard_arrow_right
            </v-icon>
            <span>
              <span class="font-italic">{{$t('text.redo_windows')}}</span>
            </span>
          </v-tooltip>
        </div>
      </div>
    </div>
    <div class='window-dashboard-cont-icons'>
      <window-dashboard-element
                    v-for="(window, index) in $store.state.windowManager.windows"
                    :key="index"
                    v-bind:window="window"
        ></window-dashboard-element>
        <div class='window-dashboard-arrow-background' />
        <img class='window-dashboard-arrow' src="../../assets/svg/dashboard-icons/стрелка+.svg"/>   
    </div> 
  </v-card>
</template>

<script>
    import { mapActions } from 'vuex';
    import WindowDashboardElement from '@/components/windowManager/windowDashboardElement';

    export default {
        name: 'windowDashboard',
        components: {
            'window-dashboard-element': WindowDashboardElement
        },
        methods: {
            ...mapActions({
                resetWindowsAction: 'resetWindows',
                hideWindowsAction: 'hideWindows',
                historyUndoAction: 'historyUndo',
                historyRedoAction: 'historyRedo',
            }),
            resetWindows () {
                this.$store.dispatch('windowManager/resetWindows', {
                    containerX: this.$root.$el.clientWidth,
                    containerY: this.$root.$el.clientHeight - 25,
                    containerOffsetY: 70
                });
            },
            hideWindows() {
                this.hideWindowsAction();
            },
            windowsUndo() {
                this.historyUndoAction();
            },
            windowsRedo() {
                this.historyRedoAction();
            },
        }
    }
</script>

<style lang="scss" scoped>
  .window-dashboard-cont {
        width: 55px;
        top: 79px;
        position: absolute;
        box-shadow: 0 0px 0px -15px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 2px 8px 0px rgba(0, 0, 0, 0.12) !important;
        height: 350px;
        left: 5px;
        border-radius: 5px;
        z-index: 9999;
    }
    .window-dashboard-cont-icons {
      margin-left: -25px;
      margin-top: 0px;
      position: relative;
    }
    .window-dashboard-cont-header {
      width: 100%;
      height: 80px;
      background-color: #ebebeb;
    }
    .window-dashboard-cont-arrows {
      display: flex;
      flex-direction: row;
      margin-left: 0;
      margin-top: -5px;
    }
    .window-dashboard-arrow-background {
      width: 18px;
      height: 18px;
      background-color: white;
      position: absolute;
      top: 83px;
      right: -9px;
      transform: rotate(45deg);
      z-index: -10;
    }
    .window-dashboard-arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 87px;
      right: -7px;
      z-index: -5;
    }
</style>


