<template>
  <div>
    <v-card class="multiple-list elevation-15 v-stepper" v-if="multipleListShow">
      <v-card-title class="pt-1 pb-1 pl-1 pr-1 multiple-selector">
        <div class="card-header">
          <div class="cascade-grid">
            <div
              class="multiple-list-element i-cascade"
              @click="setTemplateType('cascade')"
              :class="iconSelected?'iconPosition':'i-cascade'"
            ></div>
            <div
              class="multiple-list-element i-grid"
              @click="setTemplateType('grid')"
              :class="!iconSelected?'iconPosition':'i-cascade'"
            ></div>
          </div>
          <v-icon small class="multiple-list-element" @click="multipleListShow=false">clear</v-icon>
        </div>
        <v-spacer></v-spacer>
        <div class="add-window-wrap" @click="addWindow">
          <div class="add-window-bg">
            <v-icon small class="multiple-list-element i-add-window" >add</v-icon>
            <div class="add-window-text">{{$t("menu.add")}}</div>
          </div>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-1 pl-2 pr-1">
          <div
                  class="multiple-list-element"
                  v-for="element in windowData"
                  @dblclick="resetWindow(element.index)"
                  @click="toggleWindow(element.index)"
                  v-bind:class="{'secondary--text': !element.data.show}"
          >
            {{element.data.additional_title?element.data.additional_title:$t(element.data.title)}}
          </div>
      </v-card-text>
    </v-card>
    <v-tooltip top>
      <template v-if="isMultiple">
          <v-btn
                  slot="activator"
                  flat
                  class="pt-1 pb-1"
                  @click="multipleListShow=!multipleListShow"
                  style="height: 25px"
          >
            <!-- <v-icon small v-bind:class="{'secondary--text': multipleListShow}">{{window.icon}}</v-icon> -->
            <div v-if="windowData.length != 0">
              <img :src="require(`../../assets/svg/dashboard-icons/${Number(windowData[0].index)+4}.svg` )" />
            </div>
          </v-btn>
        <span>
          {{$t(window.title)}}<br>
        </span>
      </template>
      <template v-else>
        <v-btn
                slot="activator"
                flat
                class="pt-1 pb-1"
                @dblclick="resetWindow(windowData[0].index)"
                @click="toggleWindow(windowData[0].index)"
                style="height: 25px"
        >
          <!-- <v-icon small v-bind:class="{'secondary--text': !windowData[0].data.show}">{{window.icon}}</v-icon> -->
          <div v-if="windowData.length != 0">
            <img :src="require(`../../assets/svg/dashboard-icons/${Number(windowData[0].index)+4}.svg` )" />
          </div>
        </v-btn>
        <span>
        {{$t(window.title)}}<br>
        <span class="font-italic">{{$t('text.reset_window')}}</span>
      </span>
      </template>
    </v-tooltip>
  </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'windowDashboardElement',
        props: [
            'window'
        ],
        data() {
            return {
                multipleListShow: false,
                iconSelected: false,
            }
        },
        computed: {
            isMultiple() {
                return typeof this.$store.state.windowManager.multipleSettings[this.window.name] !== 'undefined'
            },
            windowData() {
                let windowData = [];
                this.$store.state.windowManager.windowsData.forEach((item, index) => {
                    if (item.name === this.window.name) {
                        windowData.push({
                            data: item,
                            index: index
                        });
                    }
                });

                return windowData;
            },
            windowsData() {
                return this.$store.state.windowManager.windowsData;
            }
        },
        mounted() {

        },
        methods: {
            ...mapActions({
                toggleWindowAction: 'toggleWindow',
                resetWindowAction: 'resetWindow',
                addWindowAction: 'addWindow',
                setTemplateTypeAction: 'setTemplateType',
                changeMultipleType: 'changeMultipleType',
            }),
            toggleWindow (windowId) {
                this.toggleWindowAction({
                    windowId: windowId,
                });
            },
            addWindow () {
                this.addWindowAction({
                    windowName: this.window.name
                });
              this.changeMultipleType({windowName: 'graph'});
            },
            resetWindow(windowId) {
                this.resetWindowAction({
                    windowId: windowId,
                    putTop: true,
                });
            },
            setTemplateType(templateType) {
                this.setTemplateTypeAction({
                    windowName: this.window.name,
                    templateType: templateType
                });
                this.changeMultipleType({windowName: 'graph'});
                if (templateType == 'cascade'){
                  this.iconSelected = true
                } else if (templateType == 'grid'){
                  this.iconSelected = false
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .multiple-list {
        position: absolute;
        bottom: 24px;
        /*background: var(--v-secondary-base)!important;*/
        /*border: 2px solid #303030!important;*/
        /*background: #303030!important;*/
      .multiple-list-element {
        &:hover {
            cursor: pointer;
            color: var(--v-secondary-base);
         }
      }
    }

    .v-stepper {
      top: 60px;
      left: 105px;
      bottom: unset;
      width: 93px;
      overflow: visible;
    }

    .v-stepper::before{
      content: '';
      position: absolute;
      top: 22px;
      left: -10px;
      border-right: 10px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .multiple-selector{
      display: grid;
      background-color: #fff!important;
    }

    .card-header{
      display: grid;
      grid-template-columns: 1fr 15px;
      margin-bottom: 7px;
    }

    .cascade-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px 0 0 10px;
    }

    .i-cascade{
      background-image: url("../../assets/svg/dashboard-icons/cascade.svg");
      width: 21px;
      height: 20px;
      background-repeat: no-repeat;
      background-position-x: left;
    }

    .i-grid{
      background-image: url("../../assets/svg/dashboard-icons/grid.svg");
      width: 23px;
      height: 20px;
      background-repeat: no-repeat;
      background-position-x: left;
    }

    .iconPosition{
      background-position-x: right;
    }

    .add-window-wrap{
      position: relative;
    }

    .i-add-window{
      position: absolute;
      top: 1px;
      left: 3px;
      color: #fff !important;
    }

    .add-window-bg{
      width: 100%;
      height: 18px;
      background-color: #2cbd6d;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-window-bg:hover{
      .i-add-window{
        color: #eee !important;
      }

      .add-window-text{
        color: #eee;
        transition: 0.3s;
      }
    }

    .add-window-text{
      margin-left: 19px;
      font-size: 12px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
    }

</style>


