<template>
  <div
          id="window-container"
          class="window-container"
          tabindex="-1"
  >
      <div class="window-container-hw">
        <window
                v-for="(windowData, index) in getWindowsData"
                :key="index"
                v-bind:windowData="windowData"
                v-bind:windowId="index"
        ></window>
      </div>
        <window-dashboard></window-dashboard>
  </div>
</template>

<script>
    import { mapActions } from 'vuex';

    import Window from '@/components/windowManager/window';
    import WindowDashboard from '@/components/windowManager/windowDashboard';

    export default {
        name: 'windowContainer',
        components: {
            'window': Window,
            'window-dashboard': WindowDashboard,
        },
        beforeMount () {
            let containerParameters = {
                x: this.$root.$el.clientWidth - 60,
                y: (this.$root.$el.clientHeight - 1),
                offsetTop: 0,
                offsetLeft: 60,
            };
            this.$store.dispatch('windowManager/initLayout', containerParameters);
            // this.initLayout(containerParameters);
            window.onresize = _.debounce(() => {
                containerParameters.x = this.$root.$el.clientWidth - 60;
                containerParameters.y = (this.$root.$el.clientHeight - 1);
                this.$store.dispatch('windowManager/resetContainer', containerParameters)
            }, 700);
            document.onkeyup = () => {
                if (event.keyCode === 90 && event.ctrlKey) {
                    if (event.shiftKey) {
                        this.windowsRedo();
                    } else {
                        this.windowsUndo();
                    }
                }
            };
        },
      computed: {
          getWindowsData() {
              return this.$store.state.windowManager.windowsData;
          }
      },
        methods: {
            ...mapActions({
                initLayout: 'initLayout',
                resetContainer: 'resetContainer',
            }),
        }
    }
</script>

<style lang="scss" scoped>
.window-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.window-container-hw {
  margin: 0 auto;
  position: relative;
  top: 70px;
  height: 100%
}
  @media (max-width: 1260px) {
    .window-container {
     overflow-x: auto;
    }
  }
</style>


