<template>
    <transition name="slide-fade">
        <vue-drag-resize
            :x="windowData.maximized?container.offsetLeft:windowData.windowLayout.left"
            :y="windowData.maximized?container.offsetTop:windowData.windowLayout.top"
            :w="windowData.maximized?container.x:windowData.windowLayout.width"
            :h="windowData.maximized?container.y:windowData.windowLayout.height"
            :z="zIndex"
            :isDraggable="!windowData.maximized"
            :isResizable="!windowData.maximized"
            v-if="windowData.show"
            @clicked="activateWindow"
            @resizestop="resizeWindow"
            @dragstop="moveWindow"
            dragHandle=".window-header"
            dragCancel=".window-body"
            :parentLimitation="true"
            :sticks="windowData.sticks"
            :isActive="isActive"
            :minw="windowData.defaultLayout.minw"
            :class="['drag-resize-window',{'custom-theme theme--dark':getDarkTheme} ]"
        >
            <v-card
                class="draggable-window elevation-7"
                height="100%"

            >
                <v-card-title :class="['caption  window-header header-background',{'window-header-news pb-2 ': (windowData.component == 'news')}]"  @dblclick="toggleMaximized">
                    <div  v-if="windowData.title !== ''" class="window-header__title">
                        {{$t(windowData.title)}}
                    </div>
                    <v-spacer v-if="windowData.name !== 'graph'"></v-spacer>
                    <div  v-if="windowData.additional_title !== ''" class="window-header__title">
                        &nbsp;{{windowData.additional_title}}
                    </div>
                </v-card-title>

                <v-toolbar-items class="draggable-window__actions header-actions">
                    <v-icon v-if="multipleSettings" small class="mt-0 window-control-icon" @click="addWindow">add</v-icon>
                    <v-icon v-if="windowData.dataLockable&&!windowData.dataLocked" small class="mt-0 window-control-icon" @click="changeDataLock">lock_open</v-icon>
                    <v-icon v-else-if="windowData.dataLockable&&windowData.dataLocked" small class="mt-0 window-control-icon" @click="changeDataLock">lock</v-icon>
                    <v-icon small class="mt-0 window-control-icon" @click="hideWindow">minimize</v-icon>
                    <v-icon small class="mt-0 window-control-icon" @click="toggleMaximized">
                        <template v-if="windowData.maximized">fullscreen_exit</template>
                        <template v-else>fullscreen</template>
                    </v-icon>
                    <v-icon v-if="multipleSettings" small class="mt-0 window-control-icon"  @click="removeWindow">clear</v-icon>
                </v-toolbar-items>

                <v-card-text class="window-body pt-0" style="height: calc(100% - 60px)"
                             :class="{
                                'pl-0': windowData.name=='graph',
                                'pr-0': windowData.name=='graph',
                                'pb-0': windowData.name=='graph',
                                'scrolled-window-body': windowData.name !== 'graph' && windowData.name !=='order',
                                'scrolled-window-body_overflow-y': windowData.name ==='order' || windowData.name ==='pairSelector' || windowData.name ==='news'
                             }"
                >
                    <component v-bind:is="windowData.component" :windowData="windowData" :windowId="windowId"></component>
                </v-card-text>
            </v-card>
        </vue-drag-resize>
    </transition>
</template>

<script>
    import { mapActions, mapMutations } from 'vuex';
    import _ from 'lodash';

    import Graph from '@/components/trading/graph';
    import History from '@/components/trading/history';
    import News from '@/components/trading/news';
    import OpenedOrders from '@/components/trading/openedOrders';
    import Order from '@/components/trading/order';
    import OrderBook from '@/components/trading/orderBook';
    import PairSelector from '@/components/trading/pairSelector';
    import darkThemeMixin from '@/mixins/darkTheme.js';


    export default {
        name: 'window',
        mixins: [darkThemeMixin],
        components: {
            'graph': Graph,
            'history': History,
            'news': News,
            'opened-orders': OpenedOrders,
            'order':Order,
            'order-book': OrderBook,
            'pair-selector': PairSelector,
        },
      props: {
        windowData: {
          type: Object,
          required: true
        },
        windowId: {
          required: true
        }
      },
        data() {
            return {
                zIndex: this.windowData.zIndex,
                windowDataValue: this.windowData,
                windowIdValue: this.windowId,
            }
        },
        computed: {

            isActive () {
                return this.$store.state.windowManager.windowsData[this.windowId].isActive;
            },
            container () {
                return this.$store.state.windowManager.container;
            },
            multipleSettings () {
                return this.$store.state.windowManager.multipleSettings[this.windowData.name] ? this.$store.state.windowManager.multipleSettings : null;
            }
        },
        watch: {
            '$props': {
                handler: function (newVal, oldVal) {
                    if (newVal.windowData.zIndex != this.zIndex) {
                        if (newVal.windowData.zIndex <= 0) {
                            this.zIndex = 1
                        } else {
                            this.zIndex = newVal.windowData.zIndex;
                        }
                    }
                },
                deep: true
            }
        },
        methods: {
            ...mapMutations({
              testMutation: "windowManager/ACTIVE_CLICK_ARM"
            }),
            ...mapActions({
                setWindowAction: 'setWindow',
                activateWindowAction: 'activateWindow',
                hideWindowAction: 'hideWindow',
                toggleMaximizedAction: 'toggleMaximized',
                addWindowAction: 'addWindow',
                removeWindowAction: 'removeWindow',
                changeDataLockAction: 'changeDataLock',
            }),
            resizeWindow (newLayout) {
                if (this.sameLayout(newLayout, this.windowDataValue.windowLayout)) {
                    return
                }
                this.$store.dispatch('windowManager/setWindow',{
                    windowId: this.windowId,
                    layout: newLayout,
                    type: 'resize_window'
                });
            },
            moveWindow (newLayout) {
                // this.activateWindowAction({
                //     windowId: this.windowId,
                // });

                this.zIndex = this.$store.state.windowManager.windowsData[this.windowId].zIndex;

                if (this.sameLayout(newLayout, this.windowData.windowLayout)) {
                    this.$store.dispatch('windowManager/activateWindow',{
                      windowId: this.windowId,
                  });
                  return
                }
                this.$store.dispatch('windowManager/setWindow',{
                    windowId: this.windowId,
                    layout: newLayout,
                    type: 'move_window'
                });
            },
            activateWindow () {
              this.zIndex = this.$store.state.windowManager.topWindowIndex + 1;
              // this.testMutation([{id: this.windowId}])
             },
            hideWindow () {
              this.hideWindowAction({
                    windowId: this.windowId,
              });
            },
            toggleMaximized () {
              this.$store.dispatch('windowManager/toggleMaximized',{
                    windowId: this.windowId,
                });
            },
            sameLayout (layoutA, layoutB) {;
              return layoutA.top === layoutB.top &&
                    layoutA.left === layoutB.left &&
                    layoutA.width === layoutB.width &&
                    layoutA.height === layoutB.height
            },
            addWindow () {
              this.addWindowAction({
                    windowName: this.windowData.name
                });
            },
            removeWindow () {
              this.removeWindowAction({
                    windowId: this.windowId,
                });
            },
            changeDataLock () {
              this.changeDataLockAction({
                    windowId: this.windowId,
                });
            },
        },
    }
</script>

<style lang="scss" scoped>
.v-card>:first-child:not(.v-btn):not(.v-chip){
  background-color: #eeeeee;
}


.scrolled-window-body {
    overflow-y: hidden;

    &_overflow-y {
        overflow-y: auto;
    }
}

.window-control-icon {
    &:hover {
        color: var(--v-secondary-base)
    }
}

.slide-fade-enter-active {
    transition: all .4s ease;
}

.slide-fade-leave-active {
    transition: all .4s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(100px);
    opacity: 0;
}

.window-header {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    cursor: move;

    &_empty {
        padding: 12px 0 !important;
        border-bottom: none;
    }
}

.window-header__title {
    font-size: rem(14);
    font-weight: 600;
    letter-spacing: -0.28px;
}

.draggable-window {
    position: relative;
}

.draggable-window__actions {
    position: absolute;
    top: -10px;
    right: -10px;
}

.window-control-icon {
    font-weight: 600;
}

.header-actions {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    padding: 0 14px;
    border: 1px solid #cccccc;
    height: 25px;
    border-radius: 13px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    background: linear-gradient(to top, rgba(215, 215, 215, 0.43) 0%, rgba(255, 255, 255, 1) 90%), #ffffff;

    #app.theme--dark & {
        background-image: none;
        background-color: var(--color-secondary-text--darkTheme);
        border-color: #000;
    }

    .drag-resize-window.active & {
        visibility: visible;
        opacity: 1;
    }

    .v-icon {
        font-size: 11px !important;

        #app.theme--dark &:hover {
            color: #fff;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.drag-resize-window.vdr.active:before {
    outline: none;
}
.window-header-news {
  padding-top: 46px;
}

.drag-resize-window {
    &.active /deep/ .vdr-stick.vdr-stick-br {
        visibility: visible;
        opacity: 1;
    }
  &.active .elevation-7{
     box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)!important;
   }
  &.inactive .elevation-7{
      box-shadow: 0 0px 0px -15px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 2px 8px 0px rgba(0, 0, 0, 0.12) !important
    }

    & /deep/ .vdr-stick.vdr-stick-br {
        display: block;
        right: -2px !important;
        bottom: -2px !important;
        width: 25px !important;
        height: 25px !important;
        border-top: none;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: none;
        border-radius: 18px 11px 6px 11px;
        box-shadow: none;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYuMyAxNi4xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNi4zIDE2LjE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO308L3N0eWxlPjxwYXRoIGQ9Ik0xMy45LDE2bDIuNS0zbC0xLjUtMS4zbC0yLjUsMy4xTDEzLjksMTZ6IE0wLjEsMTRsMS41LDEuM2wxMS40LTE0TDExLjQsMEwwLjEsMTR6IE03LjUsMTYuMUwxNSw2LjdsLTEuNS0xLjNMNiwxNC44TDcuNSwxNi4xeiIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tNC00LjVoMjQuM3YyNEgtNFYtNC41eiIvPjwvc3ZnPg==) center no-repeat ;
        background-size: 40%;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;

        #app.theme--dark & {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYuMyAxNi4xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNi4zIDE2LjE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO308L3N0eWxlPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xMy45LDE2bDIuNS0zbC0xLjUtMS4zbC0yLjUsMy4xTDEzLjksMTZ6IE0wLjEsMTRsMS41LDEuM2wxMS40LTE0TDExLjQsMEwwLjEsMTR6IE03LjUsMTYuMUwxNSw2LjdsLTEuNS0xLjNMNiwxNC44TDcuNSwxNi4xeiIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tNC00LjVoMjQuM3YyNEgtNFYtNC41eiIvPjwvc3ZnPg==);
            background-color: var(--color-secondary-text--darkTheme);
            border-color: #000;
        }
    }
}
</style>


