<template>
  <v-toolbar :dark="$store.state.actionManager.darkTheme">
    <menu-logo :reference="`/admin`"></menu-logo>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <menu-item
              v-for="item in items"
              :name="item.name"
              :key="item.name"
              :url="item.url"
              v-if="$auth.loggedIn"
      >
      </menu-item>

      <menu-item-list v-if="$auth.loggedIn" :items="items"></menu-item-list>

      <menu-color-theme-changer></menu-color-theme-changer>

      <menu-user></menu-user>

      <menu-locale-changer></menu-locale-changer>

    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import menuLogo from '@/components/layout/menu/logo';
import MenuTitle from '@/components/layout/menu/title';
import menuColorThemeChanger from '@/components/layout/menu/colorThemeChanger';
import menuUser from '@/components/layout/menu/user';
import menuLocaleChanger from '@/components/layout/menu/localeChanger';
import menuItem from '@/components/layout/menu/item';
import menuItemList from '@/components/layout/menu/itemList';

export default {
    name: 'menuTopAdmin',
    components: {
        'menu-logo': menuLogo,
        'menu-color-theme-changer': menuColorThemeChanger,
        'menu-user': menuUser,
        'menu-locale-changer': menuLocaleChanger,
        'menu-item': menuItem,
        'menu-item-list': menuItemList,
    },
    data() {
        return {
            items: [
                {
                    name: this.$t('menu.users'),
                    url: '/admin/users'
                },
                {
                    name: this.$t('menu.subscribes'),
                    url: '/admin/subscribes'
                },
            ],
        }
    },
}
</script>

<style lang="scss" scoped>

</style>
