<template>
  <v-toolbar flat class="menu-top" :dark="$store.state.actionManager.darkTheme"
             :class="{'menu-top_main-page': isMainPage}">
    <menu-logo class="menu-logo" :reference="`/`"></menu-logo>
    <menu-item
          v-for="item in items"
          :name="item.name"
          :key="item.name"
          :url="item.url"
          class="nav-item"
    >
      <!--in menu item vif v-if="$auth.loggedIn"-->
    </menu-item>

    <v-spacer></v-spacer>
    <v-toolbar-items>

      <!--<menu-item-list v-if="$auth.loggedIn" :items="items"></menu-item-list>-->
      <menu-item-list :items="items"></menu-item-list>

      <menu-color-theme-changer class="menu-color-theme-changer"></menu-color-theme-changer>

      <menu-user></menu-user>
      <!--<menu-user v-if="$auth.loggedIn"></menu-user>-->

      <menu-locale-changer></menu-locale-changer>

    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import menuLogo from '@/components/layout/menu/logo';
import menuColorThemeChanger from '@/components/layout/menu/colorThemeChanger';
import menuUser from '@/components/layout/menu/user';
import menuLocaleChanger from '@/components/layout/menu/localeChanger';
import menuItem from '@/components/layout/menu/item';
import menuItemList from '@/components/layout/menu/itemList';

export default {
    name: 'menuTop',
    components: {
        'menu-logo': menuLogo,
        'menu-color-theme-changer': menuColorThemeChanger,
        'menu-user': menuUser,
        'menu-locale-changer': menuLocaleChanger,
        'menu-item': menuItem,
        'menu-item-list': menuItemList,
    },
    data() {
        return {
            items: [
                {
                    name: this.$t('menu.trading'),
                    url: '/'
                },
                {
                    name: this.$t('menu.subscribes'),
                    url: '/subscribes'
                },
                {
                    name: this.$t('menu.orders'),
                    url: '/orders'
                },
                {
                    name: this.$t('menu.alerts'),
                    url: '/alerts'
                },
                {
                    name: this.$t('menu.balances'),
                    url: '/balances'
                },
                {
                    name: this.$t('menu.support'),
                    url: '/support'
                },
                {
                    name: this.$t('menu.news'),
                    url: '/news'
                },
            ]
        }
    },
    computed: {
        isMainPage () {
            return this.$route.name === 'home'
        }
    }
}
</script>

<style lang="scss" scoped>
.menu-top {
    z-index: 3000;

    &_main-page {
        position: fixed;
    }

    .v-btn {
        border-radius: 0;
        box-shadow: none;
    }

    .menu-logo {
        margin-right: 50px;

        @media (max-width: 1400px) {
            margin-right: 20px;
        }

        @media (max-width: 768px) {
            margin-right: 0;
        }
    }
}

.menu-top.theme--light {
    background-color: #fff;

    .v-btn {
        background-color: #fff !important;
    }

    .nav-item /deep/ .v-btn__content {
        color: var(--color-main-text--lightTheme);
    }
}

.nav-item {
    height: 100%;

    @media (max-width: 1399px) {
        padding-left: 8px;
        padding-right: 8px;
    }

    & /deep/ .v-btn__content {
        font-size: rem(14);
        font-weight: 600;
        text-transform: capitalize;
    }
}

.menu-color-theme-changer {
    margin-right: 26px;
}

</style>
