<template>
    <window-container></window-container>
</template>

<script>
    import { mapActions } from 'vuex';

    import WindowContainer from '@/components/windowManager/windowContainer';

    export default {
        name: 'home',
        middleware: ['auth'],
        layout: 'default',
        components: {
            'window-container': WindowContainer
        }
    }
</script>

<style lang="scss" scoped>
  .icon-control {
    &:hover {
      color: var(--v-secondary-base)
    }
  }
</style>
