<template>
  <div>
    <v-content class="minH100vh">
      <v-container fluid fill-height align-center>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 class="text-xs-right">
            <v-card class="elevation-6">
              <v-toolbar :class="'border-b'" :color="isDarkTheme?'#424242':'white'" flat>
                <v-toolbar-title primary-title="black">{{$t('title.login')}}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                          prepend-icon="person"
                          :label="$t('placeholder.login_email')"
                          type="text"
                          v-model="auth.login"
                          @keyup.enter="authorize"
                  ></v-text-field>
                  <v-text-field
                          prepend-icon="lock"
                          :label="$t('placeholder.password')"
                          type="password"
                          v-model="auth.password"
                          @keyup.enter="authorize"
                  ></v-text-field>
                  <template v-if="tfaShow">
                    <v-text-field
                            prepend-icon="edit"
                            :label="tfaLabel"
                            type="text"
                            v-model="auth.tfaCode"
                            @keyup.enter="authorize"
                    ></v-text-field>
                  </template>
                  <v-alert
                          transition="scale-transition"
                          origin="center center"
                          :value="!!errors"
                          color="error"
                          icon="warning"
                          outline
                  >
                    <ul>
                      <li v-for="error in errors">
                        {{error}}
                      </li>
                    </ul>
                  </v-alert>
                </v-form>
              </v-card-text>
              <v-card-actions class="pb-4 px-3">
                <v-spacer></v-spacer>
                <v-btn
                        color="secondary"
                        outline
                        depressed
                        @click.prevent="$router.push('/registration')"
                >
                  {{ $t('link.registration') }}
                </v-btn>
                <v-btn
                        color="primary"
                        depressed
                        :loading="isLoading"
                        :disabled="isLoading"
                        @click.prevent="authorize"
                >
                  {{ $t('action.login') }}
                </v-btn>
              </v-card-actions>
            </v-card>
            <br>
            <!--<nuxt-link to="/reset-password" class="error&#45;&#45;text">{{$t('link.reset_password')}}</nuxt-link>-->
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'authForm',
  middleware: 'guest',
  layout: 'default',
  data() {
      return {
          auth: {
              login: '',
              password: '',
              tfaCode: '',
              tfaId: '',
          },
          tfaType: null,
          tfaShow: false,
          errors: null,
          isLoading: false,
      }
  },
  computed: {
      tfaLabel() {
          if (this.tfaType) {
              if (this.tfaType === 'phone') {
                  return this.$t('placeholder.sms_code');
              } else if (this.tfaType === 'google') {
                  return this.$t('placeholder.google_code');
              }
          }

          return '';
      },
      isDarkTheme () {
        return this.$store.state.actionManager.darkTheme
      }
  },
  methods: {
      async authorize() {
          try {
              this.isLoading = true;
              await this.$auth.loginWith('local', {
                  data: this.auth
              });
              this.isLoading = false;

              this.$router.push('/')
          } catch (e) {
            console.log(e)
              this.isLoading = false;
              if (e.response.data.status === 401) {
                  this.tfaShow = true;
                  this.auth.tfaId = e.response.data.tfaId;
                  this.tfaType = e.response.data.tfaType;
              } else {
                  this.errors = [e.response.data.msg];
              }
          }
      }
  },
}
</script>

<style lang="scss" scoped>
.v-toolbar.border-b {
  border-bottom: 1px solid $color-main-bg-light !important;

  &.theme--dark {
    border-color: hsla(0,0%,100%,.7) !important;
  }
}

.minH100vh {
  min-height: calc(100vh - 64px);
}
</style>

