<template>
  <div>
    <v-content class="minH100vh">
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-6">
              <v-toolbar :class="'border-b'" :color="isDarkTheme?'#424242':'white'" flat>
                <v-toolbar-title primary-title="black">{{$t('title.registration')}}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <template v-if="registrationSuccess">
                  <p v-html="$t('text.registration_success', {mail: registrationData.email})"></p>
                </template>
                <v-form v-else @keyup.enter="registration">
                  <v-text-field
                          prepend-icon="person"
                          :label="$t('placeholder.login')"
                          type="text"
                          v-model="registrationData.name"
                  ></v-text-field>
                  <v-text-field
                          prepend-icon="alternate_email"
                          :label="$t('placeholder.email')"
                          type="text"
                          v-model="registrationData.email"
                  ></v-text-field>
                  <v-text-field
                          prepend-icon="phone_iphone"
                          :label="$t('placeholder.phone')"
                          type="text"
                          v-model="registrationData.phone"
                  ></v-text-field>
                  <v-text-field
                          prepend-icon="lock"
                          :label="$t('placeholder.password')"
                          type="password"
                          v-model="registrationData.password"
                  ></v-text-field>
                  <v-text-field
                          prepend-icon="lock"
                          :label="$t('placeholder.password_confirm')"
                          type="password"
                          v-model="registrationData.password_confirmation"
                  ></v-text-field>
                  <v-alert
                          :value="!!errors"
                          transition="scale-transition"
                          origin="center center"
                          color="error"
                          icon="warning"
                          outline
                  >
                    <ul>
                      <li v-for="error in errors">
                        {{error}}
                      </li>
                    </ul>
                  </v-alert>

                </v-form>
              </v-card-text>
              <v-card-actions class="pb-4 px-3">
                <v-spacer></v-spacer>
                <v-btn
                        color="secondary"
                        outline
                        @click.prevent="$router.push('/login')"
                >
                  {{$t('link.login')}}
                </v-btn>
                <v-btn
                        v-if="!registrationSuccess"
                        color="primary"
                        depressed
                        :loading="isLoading"
                        :disabled="isLoading"
                        @click.prevent="registration"
                >
                  {{$t('action.registration')}}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  layout: 'default',
  middleware: 'guest',
  name: 'registrationForm',
  data() {
      return {
          registrationSuccess: false,
          registrationData: {
              name: '',
              email: '',
              phone: '',
              password: '',
              password_confirmation: '',
              referred_by: '',
          },
          errors: null,
          isLoading: false,
      }
  },
  computed: {
    isDarkTheme () {
      return this.$store.state.actionManager.darkTheme
    },
  },
  methods: {
      async registration() {
          try {
              this.isLoading = true
              await this.$axios.post('security/registration', {user: this.registrationData, confirmationUrl: this.$config.applicationHost + '/confirm-email/'})

              this.registrationSuccess = truex
              this.isLoading = false
          } catch (e) {
              this.isLoading = false
              this.errors = e.response.data.errors;
          }
      },
  },
  beforeMount () {
      if (this.$route.query.ref) {
          this.$cookie.set('referred_by', this.$route.query.ref, { expires: 7 });
      }
      if (this.$cookie.get('referred_by')) {
          this.registrationData.referred_by = this.$cookie.get('referred_by');
      }
  }
}
</script>

<style lang="scss" scoped>
.v-toolbar.border-b {
  border-bottom: 1px solid $color-main-bg-light !important;

  &.theme--dark {
    border-color: hsla(0,0%,100%,.7) !important;
  }
}

.minH100vh {
  min-height: calc(100vh - 64px);
}
</style>
