<template>
  <div>
    <v-content v-if="resetCheckSuccess">
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>{{$t('title.reset_password')}}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <template v-if="showResetSuccess">
                  <p v-html="$t('text.reset_password_success', {mail: email})"></p>
                </template>
                <template v-else-if="resetInterrupted">
                  <p v-html="$t('text.reset_interrupted', {resetLink: '/reset-password'})"></p>
                </template>
                <v-form v-else @submit.prevent="resetPassword">
                  <v-text-field
                          :label="$t('placeholder.password')"
                          type="password"
                          v-model="resetPasswordData.password"
                  ></v-text-field>
                  <v-text-field
                          :label="$t('placeholder.password_confirm')"
                          type="password"
                          v-model="resetPasswordData.password_confirmation"
                  ></v-text-field>
                  <v-alert
                          :value="!!errors"
                          color="error"
                          icon="warning"
                          outline
                  >
                    <ul>
                      <li v-for="error in errors">
                        {{error}}
                      </li>
                    </ul>
                  </v-alert>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        v-if="!resetInterrupted"
                        color="secondary"
                        @click.prevent="$router.push('/login')"
                >
                  {{$t('link.login')}}
                </v-btn>
                <v-btn
                        v-if="!showResetSuccess&&!resetInterrupted"
                        color="primary"
                        @click.prevent="resetPassword"
                >
                  {{$t('action.reset_password')}}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  layout: 'default',
  middleware: 'guest',
  name: 'resetPasswordConfirmationForm',
  data() {
      return {
          resetPasswordData: {
              password: '',
              password_confirmation: ''
          },
          code: this.$route.params.code,
          showResetSuccess: false,
          resetCheckSuccess: false,
          resetInterrupted: false,
          errors: null
      }
  },
  beforeMount () {
      this.$axios.get('security/check-password-reset/' + this.code,  this.resetPasswordData).then(
          () => {
              this.resetCheckSuccess = true;
          }, () => {
              this.$router.replace('/404');
          }
      );
  },
  methods: {
      async resetPassword() {
          try {
              await this.$axios.post('security/forgot-password-confirm/' + this.code,  {resetPasswordData: this.resetPasswordData});
              this.showResetSuccess = true;
          } catch (e) {
              if (e.response.data.resetInterrupted) {
                  this.resetInterrupted = true;
              } else {
                  this.errors = e.response.data.errors;
              }
          }
      },
  }
}
</script>

