<template>
  <div>
    <v-content class="minH100vh">
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-6">
              <v-toolbar :class="'border-b'" :color="isDarkTheme?'#424242':'white'" flat>
                <v-toolbar-title>{{$t('title.reset_password')}}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <template v-if="showRequestSuccess">
                  <p v-html="$t('text.reset_password_request_success', {mail: email})"></p>
                </template>
                <v-form v-else @submit.prevent="sendRequestToResetPassword">
                  <v-text-field
                          prepend-icon="alternate_email"
                          :label="$t('placeholder.email')"
                          type="text"
                          v-model="email"
                  ></v-text-field>
                  <v-alert
                          :value="!!errors"
                          transition="scale-transition"
                          origin="center center"
                          color="error"
                          icon="warning"
                          outline
                  >
                    <ul>
                      <li v-for="error in errors">
                        {{error}}
                      </li>
                    </ul>
                  </v-alert>
                </v-form>
              </v-card-text>
              <v-card-actions class="pb-4 px-3">
                <v-spacer></v-spacer>
                <v-btn
                        color="secondary"
                        outline
                        depressed
                        @click.prevent="$router.push('/login')"
                >
                  {{$t('link.login')}}
                </v-btn>
                <v-btn
                        v-if="!showRequestSuccess"
                        color="primary"
                        depressed
                        :loading="isLoading"
                        :disabled="isLoading"
                        @click.prevent="sendRequestToResetPassword"
                >
                  {{$t('action.reset_password')}}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  layout: 'default',
  middleware: 'guest',
  name: 'resetPasswordForm',
  data() {
      return {
          email: '',
          showRequestSuccess: false,
          errors: null,
          isLoading: false
      }
  },
  computed: {
    isDarkTheme () {
      return this.$store.state.actionManager.darkTheme
    },
  },
  methods: {
      async sendRequestToResetPassword () {
          try {
              this.isLoading = true
              await this.$axios.post('security/forgot-password', { email: this.email, confirmationUrl: this.$config.applicationHost + '/reset-password/' });
              this.showRequestSuccess = true;
              this.isLoading = false
          } catch (e) {
              this.isLoading = false
              this.errors = e.response.data.errors;
          }
      },
  }
}
</script>

<style lang="scss" scoped>
.v-toolbar.border-b {
  border-bottom: 1px solid $color-main-bg-light !important;

  &.theme--dark {
    border-color: hsla(0,0%,100%,.7) !important;
  }
}

.minH100vh {
  min-height: calc(100vh - 64px);
}
</style>
