<template>
    <tv-chart-container
            v-if="market"
            v-bind:market="market"
            v-bind:containerId="containerId"
            v-bind:colorTheme="colorTheme"
            class="graph"
    ></tv-chart-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'graph',
    props: [
        'windowId',
        'windowData'
    ],
    data() {
        return {
            containerId: 'technical-analysis-' + this.windowId
        }
    },
    computed: {
        market() {
            return this.$store.state.tradingManager.market
        },
        colorTheme() {
            return this.$store.state.actionManager.darkTheme ? 'Dark' : 'Light';
        }

    },
}
</script>

<style lang="scss" scoped>

</style>
