<template>
    <div class="caption order-history">
        <v-layout row wrap>
            <v-tabs slider-color="#2cbd6d" right class="order-history-tabs" height="22px">
                <v-tab ripple class="text-capitalize">
                    {{$t('title.exchange')}}
                </v-tab>
                <v-tab ripple class="text-capitalize">
                    {{$t('title.order_account')}}
                </v-tab>

                <v-tab-item>
                    <v-layout row wrap class="order-book__header">
                        <v-flex sm4 d-flex class="primary--text header-item">
                            {{$t('header.order_book_price')}} {{ marketQuote }}
                        </v-flex>
                        <v-flex sm4 d-flex class="primary--text header-item">
                            {{$t('header.order_book_amount')}} {{ marketBase }}
                        </v-flex>
                        <v-flex sm4 d-flex class="error--text header-item">
                            {{$t('title.order_date')}}
                        </v-flex>
                    </v-layout>

                    <lazy-load-list
                            :data="trades?trades:[]"
                            :listHeight="listHeight"
                            :itemHeight="20"
                            :hasSearchInput="false"
                            :searchKeys="[]"
                            class="trades-list order-book-list"
                            v-if="resetListToggler"
                        >
                            <template slot-scope="item">
                                <v-layout row wrap @click="setOrderPrice({orderPrice:item.price})" class="price-row">
                                    <v-flex sm4 d-flex :class="{
                                                'primary--text':item.side==='buy',
                                                'error--text':item.side==='sell'
                                                }" class="order-book-list__item">
                                        {{item.price | trimZeroes}}
                                    </v-flex>
                                    <v-flex sm4 d-flex class="order-book-list__item">
                                        {{item.amount}}
                                    </v-flex>
                                    <v-flex sm4 d-flex class="order-book-list__item">
                                        {{item.timestamp | formatDate}}
                                    </v-flex>
                                </v-layout>
                            </template>
                        </lazy-load-list>
                </v-tab-item>

                <v-tab-item>
                </v-tab-item>
            </v-tabs>
        </v-layout>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import pako from 'pako';

export default {
    name: 'history',
    props: [
        'windowId',
        'windowData',
    ],
    data() {
        return {
            verticalOffset: 80,
            listHeight: this.windowData.windowLayout.height - this.verticalOffset,
            resetListToggler: true,
            wsTrades: [],
            wsTradesInit: false,
        }
    },
    computed: {
        storedMarket() {
            return this.$store.state.tradingManager.market;
        },
        trades() {
            let trades = [];

            if (!this.$store.state.tradingManager.market) {

            } else if (
                this.$store.state.tradingManager.market.exchange_code === 'binance' ||
                this.$store.state.tradingManager.market.exchange_code === 'huobipro' ||
                this.$store.state.tradingManager.market.exchange_code === 'huobirussia' ||
                this.$store.state.tradingManager.market.exchange_code === 'kucoin' ||
                this.$store.state.tradingManager.market.exchange_code === 'bitmex' ||
                this.$store.state.tradingManager.market.exchange_code === 'bitfinex' ||
                this.$store.state.tradingManager.market.exchange_code === 'hitbtc' ||
                this.$store.state.tradingManager.market.exchange_code === 'okex' ||
                this.$store.state.tradingManager.market.exchange_code === 'exmo' ||
                this.$store.state.tradingManager.market.exchange_code === 'poloniex'
            ) {
                trades = this.wsTrades;
            } else {
                trades = this.$store.state.tradingManager.trades;
            }

            return trades
        },
        marketBase () {
            return (this.$store.state.tradingManager.market
                && typeof this.$store.state.tradingManager.market.base !== 'undefined'
                && this.$store.state.tradingManager.market.base) ?
                `(${this.$store.state.tradingManager.market.base})` : ''
        },
        marketQuote () {
            return (this.$store.state.tradingManager.market
                && typeof this.$store.state.tradingManager.market.quote !== 'undefined'
                && this.$store.state.tradingManager.market.quote) ?
                `(${this.$store.state.tradingManager.market.quote})` : ''
        }
    },
    watch: {
        '$props': {
            handler: function (newVal, oldVal) {
                if (newVal.windowData.windowLayout.height - this.verticalOffset !== this.listHeight) {
                    this.setListHeight(newVal.windowData.windowLayout.height - this.verticalOffset);
                }
            },
            deep: true
        },
        storedMarket: function (newValue, oldValue) {
            if (newValue !== null && oldValue !== newValue) {
                this.setChannel();
            }

            this.setAdditionalTitleAction({windowId: this.windowId, additionalTitle: this.$store.state.tradingManager.market.symbol});
        }
    },
    mounted() {
        this.setListHeight(this.windowData.windowLayout.height - this.verticalOffset);
        this.setChannel();

        if (this.$store.state.tradingManager.market) {
            this.setAdditionalTitleAction({windowId: this.windowId, additionalTitle: this.$store.state.tradingManager.market.symbol});
        }
    },
    methods: {
        ...mapActions({
            setOrderPrice: 'setOrderPrice',
            setAdditionalTitleAction: 'setAdditionalTitle',
        }),
        setListHeight(height) {
            this.resetListToggler = false;
            this.listHeight = height;
            setTimeout(()=>{this.resetListToggler = true}, 0);
        },
        setChannel() {
            if (this.$store.state.tradingManager.market) {
                if (this.ws) {
                    this.ws.close()
                }
                if (this.wsPing) {
                    clearInterval(this.wsPing);
                    this.wsPing = null
                }

                window.Echo.leave('exmo.orderbook.received');

                this.wsTrades = [];

                switch(this.$store.state.tradingManager.market.exchange_code) {
                    case 'binance':
                        this.setBinanceChannel();
                        break;
                    case 'huobipro':
                        this.setHuobiChannel();
                        break;
                    case 'huobirussia':
                        this.setHuobiRusChannel();
                        break;
                    case 'kucoin':
                        this.setKucoinChannel();
                        break;
                    case 'bitmex':
                        this.setBitmexChannel();
                        break;
                    case 'bitfinex':
                        this.setBitfinexChannel();
                        break;
                    case 'hitbtc':
                        this.setHitbtcChannel();
                        break;
                    case 'okex':
                        this.setOkexChannel();
                        break;
                    case 'poloniex':
                        this.setPoloniexChannel();
                        break;
//                    case 'exmo':
//                        this.setExmoChannel();
//                        break;
                }
            }
        },
        setBinanceChannel() {
            let pair = this.$store.state.tradingManager.market.base + this.$store.state.tradingManager.market.quote;

            let wssOrderBookUrl = 'wss://stream.binance.com:9443/ws/' + pair.toLowerCase() + '@trade';

            this.ws = new WebSocket(wssOrderBookUrl);

            this.ws.onmessage = (msg) => {
                let trade = JSON.parse(msg.data);

                this.wsTrades.unshift({
                    price: trade.p,
                    amount: trade.q,
                    side: trade.m ? 'sell' : 'buy',
                    timestamp: trade.T
                });

                if (this.wsTrades.length > 100) {
                    this.wsTrades.length = 100;
                }
            }
        },
        setHuobiChannel() {
            let pair = this.$store.state.tradingManager.market.base + this.$store.state.tradingManager.market.quote;
            let wssOrderBookUrl = 'wss://api.huobi.pro/ws';

            this.ws = new WebSocket(wssOrderBookUrl);
            this.ws.binaryType = "arraybuffer";
            this.ws.onopen = () => {
                this.ws.send(JSON.stringify({
                    "sub": 'market.' + pair.toLowerCase() + '.trade.detail',
                    "id": '1'
                }));
            };
            this.ws.onmessage = (data) => {
                let text = pako.inflate(data.data, {
                    to: 'string'
                });
                let msg = JSON.parse(text);
                if (msg.ping) {
                    this.ws.send(JSON.stringify({
                        pong: msg.ping
                    }));
                } else if (msg.tick) {
                    this.wsTrades.unshift({
                        price: msg.tick.data[0].price,
                        amount: msg.tick.data[0].amount,
                        side: msg.tick.data[0].direction,
                        timestamp: msg.tick.data[0].ts
                    });

                    if (this.wsTrades.length > 100) {
                        this.wsTrades.length = 100;
                    }
                }
            };
        },
        setHuobiRusChannel() {
            let pair = this.$store.state.tradingManager.market.base + this.$store.state.tradingManager.market.quote;
            let wssOrderBookUrl = 'wss://www.huobi.com.ru/api/ws';

            this.ws = new WebSocket(wssOrderBookUrl);
            this.ws.binaryType = "arraybuffer";
            this.ws.onopen = () => {
                this.ws.send(JSON.stringify({
                    "sub": 'market.' + pair.toLowerCase() + '.trade.detail',
                    "id": '1'
                }));
            };
            this.ws.onmessage = (data) => {
                let text = pako.inflate(data.data, {
                    to: 'string'
                });
                let msg = JSON.parse(text);
                if (msg.ping) {
                    this.ws.send(JSON.stringify({
                        pong: msg.ping
                    }));
                } else if (msg.tick) {
                    this.wsTrades.unshift({
                        price: msg.tick.data[0].price,
                        amount: msg.tick.data[0].amount,
                        side: msg.tick.data[0].direction,
                        timestamp: msg.tick.data[0].ts
                    });

                    if (this.wsTrades.length > 100) {
                        this.wsTrades.length = 100;
                    }
                }
            };
        },
        setKucoinChannel() {
            let pair = this.$store.state.tradingManager.market.base + '-' + this.$store.state.tradingManager.market.quote;

            this.$axios.get('cabinet/kucoin-ws-snapshot/' + this.$store.state.tradingManager.market.id).then((response) => {
                let token = response.data.data.token;
                let wssUrl = 'wss://push1.kucoin.com/endpoint?bulletToken='  +  token+'&format=json&resource=api';

                this.ws = new WebSocket(wssUrl);

                this.ws.onopen = () => {
                    this.ws.send(JSON.stringify({
                        "id": "1",
                        "type": "subscribe",
                        "topic": "/trade/" + pair.toUpperCase() + "_HISTORY",
                    }));

                    this.wsPing = setInterval(() => {
                        this.ws.send(JSON.stringify({
                            "id": "2",
                            "type": "ping"
                        }));
                    }, 40000)
                };

                this.ws.onmessage = (msg) => {
                    let data = JSON.parse(msg.data).data;
                    if (!data) {
                        return;
                    }
                    this.wsTrades.unshift({
                        price: data.price,
                        amount: data.count,
                        side: data.direction.toLowerCase(),
                        timestamp: data.time
                    });

                    if (this.wsTrades.length > 100) {
                        this.wsTrades.length = 100;
                    }
                };
            });
        },
        setBitmexChannel() {
            let pair = this.$store.state.tradingManager.market.info.symbol;

            let wssUrl = 'wss://www.bitmex.com/realtime';

            this.ws = new WebSocket(wssUrl);

            this.ws.onopen = () => {
                this.ws.send(JSON.stringify({
                    "op": "subscribe",
                    "args": ["trade:" + pair]
                }));
            };

            this.ws.onmessage = (msg) => {
                let data = JSON.parse(msg.data);

                if (data.table !== 'trade') {
                    return;
                }
                this.wsTrades.unshift({
                    price: data.data[0].price,
                    amount: data.data[0].size,
                    side: data.data[0].side.toLowerCase(),
                    timestamp: data.data[0].timestamp
                });

                if (this.wsTrades.length > 100) {
                    this.wsTrades.length = 100;
                }
            };
        },
        setBitfinexChannel() {
            let pair = this.$store.state.tradingManager.market.base + this.$store.state.tradingManager.market.quote;

            let wssUrl = 'wss://api.bitfinex.com/ws';

            this.ws = new WebSocket(wssUrl);

            this.ws.onopen = () => {
                this.ws.send(JSON.stringify({
                    "event": "subscribe",
                    "channel": "trades",
                    "pair": pair
                }));
            };

            this.ws.onmessage = (msg) => {
                let data = JSON.parse(msg.data);
                if (data.length === 7) {
                    this.wsTrades.unshift({
                        price: data[5],
                        amount: Math.abs(data[6]),
                        side: data[6] > 0 ? 'buy' : 'sell',
                        timestamp: data[4]
                    });

                    if (this.wsTrades.length > 100) {
                        this.wsTrades.length = 100;
                    }
                }
            };
        },
        setHitbtcChannel() {
            let pair = this.$store.state.tradingManager.market.info.symbol;

            let wssUrl = 'wss://api.hitbtc.com/api/2/ws';
            this.ws = new WebSocket(wssUrl);

            this.ws.onopen = () => {
                this.ws.send(JSON.stringify({
                    "method": "subscribeTrades",
                    "params": {
                        "symbol": pair
                    },
                    "id": 1
                }));
            };

            this.ws.onmessage = (msg) => {
                let data = JSON.parse(msg.data);

                if (data.method === 'snapshotTrades') {
                    this.wsTrades = data.params.data.map((item) => {
                        return {
                            price: item.price,
                            amount: item.quantity,
                            side: item.side,
                            timestamp: item.timestamp
                        }
                    });
                } else if (data.method === 'updateTrades') {
                    this.wsTrades = data.params.data.map((item) => {
                            return {
                                price: item.price,
                                amount: item.quantity,
                                side: item.side,
                                timestamp: item.timestamp
                            }
                        }).concat(this.wsTrades);

                    if (this.wsTrades.length > 100) {
                        this.wsTrades.length = 100;
                    }
                }
            };
        },
        setOkexChannel() {
            let pair = this.$store.state.tradingManager.market.info.symbol;
            let wssUrl = 'wss://real.okex.com:10441/websocket?compress=true';
            let okexSetted = false;
            this.ws = new WebSocket(wssUrl);
            this.ws.binaryType = "arraybuffer";
            this.ws.onopen = () => {
                this.ws.send(
                    "{'event':'addChannel','channel':'ok_sub_spot_" + pair + "_deals'}"
                );

                this.wsPing = setInterval(() => {
                    this.ws.send(
                        "{'event':'ping'}"
                    );
                }, 20000)
            };

            this.ws.onmessage = (data) => {
                let text = pako.inflateRaw(data.data, {
                    to: 'string'
                });
                let msg = JSON.parse(text)[0];
                if (!msg || msg.binary === 1) {
                    return;
                }
                this.wsTrades = msg.data.map((item) => {
                        return {
                            price: item[1],
                            amount: item[2],
                            side: item[4] === 'ask' ? 'sell' : 'buy',
                            timestamp: Math.round(new Date().getTime())
                        }
                    }).concat(this.wsTrades);

                if (this.wsTrades.length > 100) {
                    this.wsTrades.length = 100;
                }
            };
        },
        setPoloniexChannel() {
            let pair = this.$store.state.tradingManager.market.info.id;
            let wssUrl = 'wss://api2.poloniex.com';
            this.ws = new WebSocket(wssUrl);
            this.ws.onopen = () => {
                this.ws.send(
                    JSON.stringify({
                        "command": "subscribe",
                        "channel": pair
                    })
                );
            };

            this.ws.onmessage = (msg) => {
                let data = JSON.parse(msg.data)[2];
                if (!data || !data[0]) {
                    return;
                }
                if (data[0][0] !== "i") {
                    data.forEach((row) => {
                        if (row[0] === "t") {
                            this.wsTrades.unshift({
                                price: row[3],
                                amount: row[4],
                                side: row[2] === 1 ? 'buy' : 'sell',
                                timestamp: row[5]
                            });

                            if (this.wsTrades.length > 100) {
                                this.wsTrades.length = 100;
                            }
                        }
                });
                }
            };
        },
    }
}
</script>
<style lang="scss" scoped>
.order-book__header {
    padding-top: 0;
}
.order-book-list__item {
  letter-spacing: -1px;
}

.order-history-tabs {
    margin-top: 10px;
    width: 100%;

    /deep/ .v-tabs__wrapper {
        margin-bottom: 15px;
    }

    /deep/ .v-tabs__item {
        align-items: flex-start;
        padding: 0 8px 0;
        font-size: 10px;
    }

    /deep/ .v-tabs__slider {
        height: 3px;
    }

    .price-row {
        font-size: 10px;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
}
</style>
