<template>
    <div class="news-component">
        <v-flex md12>
            <v-tabs slider-color="#2cbd6d" class="news-tabs" height="29px">
                <v-tab ripple class="text-capitalize">
                    {{$t('menu.news')}}
                </v-tab>
                <v-tab ripple class="text-capitalize">
                    {{$t('menu.calendar')}}
                </v-tab>

                <v-tab-item>
                    <template v-if="!newsLoaded">
                        <v-flex sm12 d-flex justify-center>
                            <v-progress-circular
                                indeterminate
                                color="primary"
                            ></v-progress-circular>
                        </v-flex>
                    </template>
                    <ul v-else class="news-list" >
                        <li class="news-item" v-if="lastNews"
                            v-for="(article, index) in lastNews" :key="index">
                            <p class="news-item__date">{{ article.date | formatDate('fullDate', true) }}</p>
                            <p @click="openArticle(article)" class="news-item__text">{{ article.title }}</p>
                        </li>
                    </ul>
                </v-tab-item>

                <v-tab-item>
                    <v-menu
                        :close-on-content-click="false"
                        v-model="calendarMenu"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                        class="news-calendar"
                    >
                        <v-text-field
                            slot="activator"
                            v-model="calendarDate"
                            label=""
                            hint=""
                            prepend-icon="event"
                            readonly
                        ></v-text-field>
                        <v-date-picker v-model="calendarDate" no-title @input="calendarMenu=false"></v-date-picker>
                    </v-menu>

                    <template v-if="!newsLoaded">
                        <v-flex sm12 d-flex justify-center>
                            <v-progress-circular></v-progress-circular>
                        </v-flex>
                    </template>

                    <template v-else>
                        <v-list dense>
                            <v-list-tile v-if="dateEvents&&dateEvents.events" v-for="(event, index) in dateEvents.events" :key="index">
                                <v-list-tile-content>{{event.title}}</v-list-tile-content>
                                <v-list-tile-content class="align-end">{{event.subtitle}}</v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </template>
                </v-tab-item>
            </v-tabs>
        </v-flex>
    </div>
</template>

<script>
    import { mapMutations } from 'vuex';
    import axios from 'axios'

    export default {

        name: 'news',
        data() {
            return {
                calendar: [],
                news: [],
                pagination: {
                    rowsPerPage: 1
                },
                calendarMenu: false,
                calendarDate: new Date().toISOString().substr(0, 10),
                newsLoaded: false
            }
        },
        mounted() {
            axios.get('https://back.hicotrading.com/api/v1/cabinet/get-calendar-news/').then((response) => {
                this.calendar = response.data.data.calendar;
                this.news = response.data.data.news;
                this.newsLoaded = true;
            });
        },
        computed: {
            lastNews() {
                return this.news.slice(0, 10);
            },
            dateEvents() {
                let date =  this.calendar.filter((item) => {
                    return item.date === this.calendarRawDate;
                });
                if (date.length > 0) {
                    return date[0];
                }

                return [];
            },
            calendarRawDate() {
                return Math.round(new Date(this.calendarDate).getTime()/1000);
            }
        },
        methods: {
            ...mapMutations({
                setSelectedArticleLink: 'setSelectedArticleLink',
            }),
            openArticle(article) {
                this.setSelectedArticleLink(article.link);
                this.$router.push('news');
            }
        }
    }
</script>

<style lang="scss" scope>
.news-tabs {
    position: unset !important;

    .v-tabs__bar {
        position: absolute;
        top: 24px;
        left: 16px;
        z-index: 10;
        padding-bottom: 10px;
        width: calc(100% - 32px);
    }

    .v-tabs__div {
        margin-right: 19px;
        padding: 0 0 12px;
        text-transform: none !important;
    }

    .v-tabs__item {
        padding-left: 0;
        padding-right: 0;
    }

    .v-tabs__slider {
        height: 3px;
    }
}

.news-list {
    padding-left: 0;
    list-style: none;
}
.news-component {
  .v-tabs__bar {
    height: 20px;
    background-color: transparent !important;
    padding: 0;
    .v-tabs__container{
      height: 24px!important;
    }
  }
}

.news-item {

    &__date {
        margin-bottom: 5px;
        font-size: rem(10);
        color: #cccccc;
    }

    &__text {
        font-size: rem(12);

        &:hover {
            cursor: pointer;
            color: var(--color-main-text--hover--lightTheme);
        }
    }
}

.news-list, .news-calendar {
    padding-top: 0px;
}



::-webkit-scrollbar{
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track{
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #b8b8b8;
  width: 7px;
  height: 5px;
}
</style>
