<template>
    <div class="pt-2 caption opened-orders">
        <v-layout class="row wrap">
            <v-flex xs12 class="opened-orders__action">
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    hide-details
                    class="combo-selector combo-selector_search pt-0"
                    height="30"
                    dense
                ></v-text-field>
                <v-btn flat icon class="btn-refresh" @click="">
                    <v-icon>refresh</v-icon>
                </v-btn>
            </v-flex>
        </v-layout>

        <v-tabs slider-color="#2cbd6d" class="opened-orders-tabs" height="29px">
            <v-tab ripple class="text-capitalize">
                {{$t('title.trading_opened_orders')}}
            </v-tab>
            <v-tab ripple class="text-capitalize">
                {{$t('title.trading_orders_history')}}
            </v-tab>

            <v-tab-item>
                <v-data-table
                        :headers="commonHeaders"
                        :items="openedOrders"
                        :search="search"
                        class="orders-table"
                        hide-actions
                        :no-results-text="noDataText"
                >
                    <template slot="items" slot-scope="props">
                        <td class="orders-table-cell mb-0 pl-0">{{ props.item.account_name }}</td>
                        <td class="orders-table-cell mb-0">{{ props.item.exchange_name }}</td>
                        <td class="orders-table-cell mb-0">{{ props.item.symbol }}</td>
                        <td class="orders-table-cell mb-0">{{ props.item.order_type }}</td>
                        <td class="orders-table-cell mb-0">
                            <span :class="{'error--text':props.item.order_side==='sell', 'primary--text':props.item.order_side==='buy'}"
                            >
                                {{ props.item.order_side }}
                            </span>
                        </td>
                        <td class="orders-table-cell mb-0 text-xs-right">{{ props.item.amount | round(6, false) }}</td>
                        <td class="orders-table-cell mb-0 text-xs-right">{{ props.item.price | round(6, false) }}</td>
                        <td class="orders-table-cell mb-0 text-xs-right" style="min-width:120px">{{ props.item.created_at | formatDate}}</td>
                        <td class="orders-table-cell cancel-cell mb-0 text-xs-center">
                            <v-btn small flat @click="cancelOrder(props.item)">
                                {{$t('action.cancel')}}
                            </v-btn>
                        </td>
                    </template>
                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                        {{ $t('text.no_results_found.your_search_for') }} "{{ search }}" {{ $t('text.no_results_found.found_no_results') }}.
                    </v-alert>
                </v-data-table>
            </v-tab-item>

            <v-tab-item>
                ...
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'openOrders',
    data() {
        return {
            noDataText: this.$t('text.pair_not_found'),
            commonHeaders: [
                { text: this.$t('title.order_account'), value: 'account', align: 'left', class: ['orders-table-cell', 'pl-0'], sortable: true },
                { text: this.$t('title.order_exchange'), value: 'exchange', align: 'left', class: ['orders-table-cell', 'cell'], sortable: true },
                { text: this.$t('title.order_pair'), value: 'symbol', align: 'left', class: ['orders-table-cell'], sortable: true },
                { text: this.$t('title.order_type'), value: 'order_type', align: 'left', class: ['orders-table-cell'], sortable: true },
                { text: this.$t('title.order_side'), value: 'order_side', align: 'left', class: ['orders-table-cell'], sortable: true },
                { text: this.$t('title.order_amount'), value: 'amount', align: 'right', class: ['orders-table-cell'], sortable: true },
                { text: this.$t('title.order_price'), value: 'price', align: 'right', class: ['orders-table-cell'], sortable: true },
                { text: this.$t('title.order_date'), value: 'order_time', align: 'right', class: ['orders-table-cell'], sortable: true },
                { text: this.$t('title.order_cancel_all'), align: 'center', class: ['orders-table-cell', 'pr-0'] },

            ],
            search: '',
            fake_filteredOrders: [
                {
                    account_name: 'HiCoTest1',
                    exchange_name: 'Binance',
                    symbol: 'BTC/USD',
                    order_type: 'Limit',
                    order_side: 'sell',
                    amount: '430',
                    price: '3888',
                    order_time: new Date(),
                },
                {
                    account_name: 'HiCoTest1',
                    exchange_name: 'Bitmex',
                    symbol: 'BTC/USD',
                    order_type: 'Limit',
                    order_side: 'buy',
                    amount: '43020',
                    price: '3388.75',
                    order_time: new Date(),
                }
            ]
        }
    },
    computed: {
        openedOrders() {
            return this.$store.getters['openedOrders'];
        },
    },
    beforeMount() {
        // window.Echo.private("user." + this.$auth.user.id)
        //     .listen('.orders_updated', (e) => {
        //         this.setOrders({orders: e.orders});
        //     });
    },
    methods: {
        ...mapActions({
            setOrders: 'setOrders',
        }),
        cancelOrder(order) {
            this.$axios.post('cabinet/cancel-order/' + order.id);
        }
    }
}
</script>

<style lang="scss">
.opened-orders {
    position: relative;

    .opened-orders__action {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        max-width: 167px;

        .combo-selector {
            margin: 3px 0 0;
        }

        .btn-refresh {
            margin: 0 0 0 9px;
            color: var(--color-theme-grean);

            &.theme--dark {
                color: #fff;
            }
        }

        .v-input__append-inner {
            margin-top: 2px;
        }
    }
}

.opened-orders-tabs {

    .v-tabs__container {
        margin-top: 4px;
    }

    .v-tabs__bar {
        margin-bottom: 25px;
    }

    .v-tabs__div {
        margin-right: 19px;
        padding: 0 0 12px;
        text-transform: none !important;
    }

    .v-tabs__item {
        padding-left: 0;
        padding-right: 0;
    }

    .v-tabs__slider {
        height: 3px;
    }
}

.orders-table {

    .v-datatable {

        thead tr {
            height: 100%;

            &:first-child {
                border-bottom: 1px solid #d3d3d3 !important;
            }

            .orders-table-cell {
                padding: 0 5px 20px !important;
                color: var(--color-secondary-text--lightTheme);
            }
        }

        tbody tr {
            border-bottom: none !important;
        }

        tbody:before {
            display: block;
            content: '';
            height: 22px;
        }

        .orders-table-cell {
            padding: 2px 5px;
            height: 100%;
            font-size: rem(11);
            vertical-align: middle;
            cursor: pointer;
        }

        .v-alert {
            padding-top: 10px;
        }
    }

    .cancel-cell {
        .v-btn {
            margin: 0;
            padding: 0;
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            height: 17px;
            min-width: 52px;
            font-size: rem(11);
            text-transform: capitalize;
        }
    }
}
</style>
