<template>
    <div :class="['pt-1 order-component',{'custom-theme theme--dark':getDarkTheme} ]">
        <div class="order-buy-sell-wrap">
          <input id="order-buy" type="radio" v-model="orderDirection" value="buy">
          <label for="order-buy" class="order-buy-label white-text">Buy</label>

          <input id="order-sell" type="radio" v-model="orderDirection" value="sell">
          <label for="order-sell" class="order-sell-label white-text">Sell</label>
        </div>

        <v-layout row wrap>
            <v-flex xs12 md6 sm6 d-flex class="pr-2">
                <v-autocomplete
                        v-model="orderAccount"
                        :items="pairAccounts"
                        item-text="account_name"
                        :placeholder="$t('placeholder.user_account')"
                        :dense="true"
                        :return-object="true"
                        class="combo-selector mt-0 order__combo-selector-account"
                        append-icon="arrow_drop_down"
                >
                    <template slot="no-data">
                        <v-list-tile>
                            <v-list-tile-title>
                                {{$t('placeholder.select_pair')}}
                            </v-list-tile-title>
                        </v-list-tile>
                    </template>
                    <template
                            slot="item"
                            slot-scope="{ item, tile }"
                    >
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <div>
                                    <div class="exchange-logo">
                                        <v-img
                                                :src="'/exchanges-logo/' + item.exchange_code + '.jpg'"
                                        ></v-img>
                                    </div>
                                </div>
                            </v-list-tile-title>
                            <v-list-tile-sub-title class="pb-1">
                                {{item.name}} ({{item.balances[market.base]?(item.balances[market.base].amount_free):'-' | round(8, false)}} / {{item.balances[market.quote]?(item.balances[market.quote].amount_free):'-' | round(8, false)}})
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </template>
                </v-autocomplete>
            </v-flex>
            <v-flex xs12 md6 sm6>
                <div class="balance">
                    <!--<v-btn icon class="balance__btn">-->
                        <v-icon color="#ccc" size="26">account_balance_wallet</v-icon>
                    <!--</v-btn>-->
                    <ul class="balance-main">
                        <li class="grey-text">{{ orderAccountBaseAmountLabel }}</li>
                        <li class="grey-text">{{ orderAccountQuoteAmountLabel }}</li>
                    </ul>
                </div>
            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex xs12>

                <div class="order-limit-market-wrap">
                  <input id="order-limit" v-model="orderType" type="radio" value="limit">
                  <label for="order-limit" class="order-limit-label white-text dark-background">Limit</label>

                  <input id="order-market" v-model="orderType" type="radio" value="market">
                  <label for="order-market" class="order-market-label white-text dark-background">Market</label>
                </div>

                <div class="order-bid-ask-wrap">
                  <input id="order-bid" type="radio" v-model="priceDirection" value="bid">
                  <label for="order-bid" class="order-bid-label white-text" @click="setOrderPrice({orderPrice: bestBuyPrice})">Bid</label>

                  <input id="order-ask" type="radio" v-model="priceDirection" value="ask">
                  <label for="order-ask" class="order-ask-label white-text" @click="setOrderPrice({orderPrice: bestSellPrice})">Ask</label>
                </div>

            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex xs12 md6 sm6 d-flex class="pr-2 order-input">
                <v-text-field
                        class="mt-0 pt-0 combo-selector"
                        v-model="orderPrice"
                        :placeholder="pricePlaceholder"
                        :rules="[rules.float]"
                        :disabled="orderType==='market' || !orderMarket"
                        :hint="hints.price"
                        persistent-hint
                        :precision="orderMarketPricePrecision"
                        v-float-filter
                ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 sm6 d-flex class="order-input">
                <v-text-field
                        class="mt-0 pt-0 combo-selector"
                        v-model="orderAmount"
                        :placeholder="amountPlaceholder"
                        :rules="[rules.float]"
                        :disabled="!orderMarket"
                        :hint="hints.amount"
                        persistent-hint
                        :precision="orderMarketAmountPrecision"
                        v-float-filter
                ></v-text-field>
            </v-flex>

            <v-flex xs12 class="leverage" v-if="orderDirection==='buy'">
                <div class="leverage__labels">
                    <div class="label-item grey-text" @click="setBuyLeverage(0)">0%</div>
                    <div class="label-item grey-text" @click="setBuyLeverage(25)">25%</div>
                    <div class="label-item grey-text" @click="setBuyLeverage(50)">50%</div>
                    <div class="label-item grey-text" @click="setBuyLeverage(75)">75%</div>
                    <div class="label-item grey-text" @click="setBuyLeverage(100)">100%</div>
                </div>
                <v-slider
                    v-model="buyLeverage" :min="0" :max="100" step="1" always-dirty thumb-label
                ></v-slider>
            </v-flex>

            <v-flex xs12 class="leverage" v-else>
                <div class="leverage__labels">
                    <div class="label-item grey-text" @click="setSellLeverage(0)">0%</div>
                    <div class="label-item grey-text" @click="setSellLeverage(25)">25%</div>
                    <div class="label-item grey-text" @click="setSellLeverage(50)">50%</div>
                    <div class="label-item grey-text" @click="setSellLeverage(75)">75%</div>
                    <div class="label-item grey-text" @click="setSellLeverage(100)">100%</div>
                </div>
                <v-slider
                    v-model="sellLeverage" :min="0" :max="100" step="1" always-dirty thumb-label
                ></v-slider>
            </v-flex>
        </v-layout>

        <!--<v-layout row wrap>-->
            <!--<v-flex xs12 md6 sm6 d-flex class="pt-2 order-total white-text">-->
                <!--{{ hints.cost }} {{ orderCost }} {{ (orderMarket && orderCost) ? orderMarket.quote : '' }}-->
            <!--</v-flex>-->
        <!--</v-layout>-->

        <div class="order-total-wrap">
          <span class="order-total white-text">
            {{ hints.cost }}
          </span>
          <div class="order-total-cost">
            <p class="white-text">{{ orderCost }}</p>
            <p class="grey-text " >{{ (orderMarket && orderCost) ? orderMarket.quote : '' }}</p>
          </div>
        </div>

        <v-layout row wrap class="order__action">
            <v-flex xs12 md12 sm12 d-flex v-if="orderDirection==='buy'">
                <v-btn
                        color="primary"
                        :disabled="!buyEnabled"
                        @click="createOrder('buy')"
                        class="ma-0 mr-1"
                >
                    {{$t('action.buy')}} {{ orderMarketBase }}
                </v-btn>
            </v-flex>
            <v-flex xs12 md12 sm12 d-flex v-else>
                <v-btn
                        color="error"
                        :disabled="!sellEnabled"
                        @click="createOrder('sell')"
                        class="ma-0 ml-1"
                >
                    {{$t('action.sell')}} {{ orderMarketBase }}
                </v-btn>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import darkThemeMixin from '@/mixins/darkTheme';

export default {
    name: 'order',
    mixins: [darkThemeMixin],
    props: [
        'windowId',
        'windowData'
    ],
    data () {
        return {
            isMarketPrice: false,
            rules: {
                float: value => {
                    return value == null || /^(\d+(\.\d+)?)?$/.test(value) || this.$t('text.invalid_value')
                },
            },
            priceDirection: 'bid',
            buyLeverage: 0,
            sellLeverage: 0,
            leverageLabels: [],
            orderDirection: 'buy',
        }
    },
    computed: {
        orderMarketPricePrecision() {
            if (this.orderMarket && this.orderMarket.precision && this.orderMarket.precision.price) {
                return this.orderMarket.precision.price;
            }

            return null;
        },
        orderMarketAmountPrecision() {
            if (this.orderMarket && this.orderMarket.precision && this.orderMarket.precision.amount) {
                return this.orderMarket.precision.amount;
            }

            return null;
        },
        hints() {
            if (this.orderMarket) {
                let limits = this.orderMarket.limits;
                let precision = this.orderMarket.precision;
                let priceArr = [];
                let amountArr = [];
                let costArr = [];
                let price = '';
                let amount = '';
                let cost = this.$t('text.total');

                if (limits.price) {
                    if (limits.price.min) {
                        priceArr.push('min: ' + limits.price.min);
                    }
                    if (limits.price.max) {
                        priceArr.push('max: ' + limits.price.max);
                    }
                }

                if (limits.amount) {
                    if (limits.amount.min) {
                        amountArr.push('min: ' + limits.amount.min);
                    }
                    if (limits.amount.max) {
                        amountArr.push('max: ' + limits.amount.max);
                    }
                }

                // if (limits.cost) {
                //     if (limits.cost.min) {
                //         costArr.push('min: ' + limits.cost.min);
                //     }
                //     if (limits.cost.max) {
                //         costArr.push('max: ' + limits.cost.max);
                //     }
                // }

                if (priceArr.length > 0) {
                    price = price + priceArr.join(' / ');
                }
                if (amountArr.length > 0) {
                    amount = amount + amountArr.join(' / ');
                }
                if (costArr.length > 0) {
                    cost = cost + ' (' + costArr.join(' / ') + ')';
                }
                if (precision.price) {
                    price = price + ' (' + precision.price + ' ' + this.$t('text.signs') + ')'
                }
                if (precision.amount) {
                    amount = amount + ' (' + precision.amount + ' ' + this.$t('text.signs') + ')'
                }

                return {
                    price: price,
                    amount: amount,
                    cost: cost,
                }
            }

            return {
                price: '',
                amount: '',
                cost: this.$t('text.total'),
            }
        },
        orderPrice: {
            get () {
                return this.$store.state.tradingManager.orderPrice;
            },
            set (value) {
                this.setOrderPrice({orderPrice: value});
            }
        },
        orderCost() {
            return this.$store.getters['orderCost'];
        },
        orderMarketPrice() {
            return this.$store.getters['orderMarketPrice'];
        },
        orderAmount: {
            get() {
                return this.$store.state.tradingManager.orderAmount;
            },
            set(value) {
                this.setOrderAmount({orderAmount: value});
            }
        },
        orderAccount: {
            get () {
                return this.$store.state.tradingManager.orderAccount;
            },
            set (value) {
                this.setOrderAccount({orderAccount: value});
            }
        },
        orderAccountBaseAmount() {
            if (!this.orderAccount || !this.market) {
                return null;
            }

            return this.orderAccount.balances[this.market.base] ? this.orderAccount.balances[this.market.base].amount_free : null
        },
        orderAccountQuoteAmount() {
            if (!this.orderAccount || !this.market) {
                return null;
            }

            return this.orderAccount.balances[this.market.quote] ? this.orderAccount.balances[this.market.quote].amount_free : null
        },
        orderAccountBaseAmountLabel() {
            if (!this.market) {
                return '-';
            }
            if (!this.orderAccount) {
                return '- ' + this.market.base;
            }

            return (this.orderAccount.balances[this.market.base] ? (+(this.orderAccount.balances[this.market.base].amount_free)).toFixed(this.market.precision.base) : '-') + ' ' +this.market.base;
        },
        orderAccountQuoteAmountLabel() {
            if (!this.market) {
                return '-';
            }
            if (!this.orderAccount) {
                return '- ' + this.market.quote;
            }

            return (this.orderAccount.balances[this.market.quote] ? (+(this.orderAccount.balances[this.market.quote].amount_free)).toFixed(this.market.precision.quote) : '-') + ' ' + this.market.quote;
        },
        orderMarket() {
            return this.$store.getters['orderMarket'];
        },
        orderType: {
            get() {
                return this.$store.state.tradingManager.orderType;
            },
            set(value) {
                this.setOrderType({orderType: value});
            }
        },
        orderMarketBase() {
            return this.$store.getters['orderMarketBase'];
        },
        pricePlaceholder() {
            let placeholder = 'PRICE ' + (this.market ? this.market.quote : 'USD');
            if (this.orderType === 'market') {
                placeholder = 'MARKET ' + placeholder;
            }
            return placeholder;
        },
        amountPlaceholder() {
            return 'AMOUNT ' + (this.market ? this.market.base : 'BTC');
        },
        bestBuyPrice () {
            return this.$store.getters['bestBuyPrice'];
        },
        bestSellPrice () {
            return this.$store.getters['bestSellPrice'];
        },
        market() {
            return this.$store.state.tradingManager.market;
        },
        buyEnabled() {
            return this.$store.getters['buyEnabled'];
        },
        sellEnabled() {
            return this.$store.getters['sellEnabled'];
            return this.$store.state.tradingManager.sellEnabled;

            if (this.orderAccount &&
                this.floatRegExp.test(this.orderAmount) &&
                this.floatRegExp.test(this.orderPrice) &&
                this.orderAmount > 0 &&
                this.orderAmount < this.orderAccount.base_free_value
            ) {
                return true;
            }

            return false;
        },
        currentBalance() {
            if (this.orderAccount) {
                return {
                    base: this.orderAccount.base_free,
                    quote: this.orderAccount.quote_free,
                }
            }

            return {
                base: '-',
                quote: '-',
            }
        },
        marketPrice() {
            let market = this.$store.state.tradingManager.market,
                tickers = this.$store.state.tradingManager.tickers;
            if (market && tickers && tickers[market.id]) {
                return tickers[market.id].last
            }

            return '';
        },
        balances() {
            return this.$store.state.tradingManager.balances;
        },
        pairAccounts() {
            return this.$store.getters['pairAccounts'];
        },
    },
    watch: {
        buyLeverage: function (newValue, oldValue) {
            if (this.orderAccountQuoteAmount && this.orderAmount) {
                this.orderPrice = ((this.orderAccountQuoteAmount / 100) * newValue) / this.orderAmount;
            }
        },
        sellLeverage: function (newValue, oldValue) {
            if (this.orderAccountBaseAmount) {
                this.orderAmount = (this.orderAccountBaseAmount / 100) * newValue;
            }
        },
        market: function (newValue, oldValue) {
            if (newValue && newValue !== oldValue){
                this.setAdditionalTitleAction({windowId: this.windowId, additionalTitle: newValue.symbol});
            }
        },
    },
    methods: {
        ...mapActions({
            refreshBalanceAction: 'refreshBalance',
            refreshOrdersAction: 'refreshOrders',
            setAdditionalTitleAction: 'setAdditionalTitle',
            setOrderAccount: 'setOrderAccount',
            setOrderAmount: 'setOrderAmount',
            setOrderPrice: 'setOrderPrice',
            setOrderType: 'setOrderType',
        }),
        createOrder(side) {
            let orderData = {
                side: side,
                marketId: this.orderMarket.id,
                amount: this.orderAmount,
                account: this.orderAccount.id,
                type: this.orderType,
            };
            if (this.orderType === 'limit') {
                orderData.price = this.orderPrice;
            }
            this.$axios.post('cabinet/create-order', orderData).then((response) => {
                this.orderPrice = null;
                this.orderAmount = null;
                this.isMarketPrice = false;
            });
        },
        setBuyLeverage(val) {
            this.buyLeverage = val;
        },
        setSellLeverage(val) {
            this.sellLeverage = val;
        }
    },
    mounted () {
        if (this.market) {
            this.setAdditionalTitleAction({windowId: this.windowId, additionalTitle: this.market.symbol});
        }
    },
}
</script>

<style lang="scss" scoped>
    .order-buy-sell-wrap{
      display: grid;
      grid-template-columns: 95px 95px;
    }

    #order-buy,#order-sell{
      display: none;
    }

    .order-buy-label,.order-sell-label{
      height: 30px;
      align-items: center;
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
      position: relative;
      text-align: center;
    }

    .order-buy-label::before,.order-sell-label::before{
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: var(--v-accent-base);
      transition: 0.2s;
    }

    .order-buy-label::before{
      right: 0;
    }

    .order-sell-label::before{
      left: 0;
    }

    #order-buy:checked + label::before,
    #order-sell:checked + label::before{
      width: 100%;
      transition: 0.2s;
    }

    /*___LIMIT MARKET___ */

    .order-limit-market-wrap{
      display: grid;
      grid-template-columns: 95px 95px;
    }

    #order-limit,#order-market{
      display: none;
    }

    .order-limit-label,.order-market-label{
      height: 30px;
      background-color: #fff;
      align-items: center;
      cursor: pointer;
      font-size: 15px;
      position: relative;
      text-align: center;
      border-top: 1px solid #cccccc;
      padding-top: 6px;
      z-index: 1;
    }

    .order-limit-label{
      border-top-left-radius: 7px;
      border-bottom: 1px solid #cccccc;
    }

    .order-market-label{
      border-top-right-radius: 7px;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
    }

    #order-limit:checked + label,
    #order-market:checked + label{
      border-bottom: 0px;
      color: #2CBD6E;
    }

    #order-limit:checked + label{
      border-top-right-radius: 7px;
      border-right: 1px solid #cccccc;
    }

    #order-market:checked + label{
      border-left: 1px solid #ccc;
      border-top-left-radius: 7px;
    }

    /*___BID ASK___*/

    .order-bid-ask-wrap{
      display: grid;
      grid-template-columns: 60px 60px;
      border-top: 1px solid #cccccc;
      padding-top: 10px;
      margin-bottom: 11px;
      transform: translateY(-1px);
    }

    #order-bid,#order-ask{
      display: none;
    }

    .order-bid-label,.order-ask-label{
      display: grid;
      grid-template-columns: 15px 1fr;
      width: 50px;
      height: 30px;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      text-align: center;
    }

    .order-bid-label::before,.order-ask-label::before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }

    .order-bid-label::before{
      background-color: #2CBD6E;
    }

    .order-ask-label::before{
      background-color: #E43A35;
    }

    .order-component {
        font-size: rem(11);
        color: var(--color-main-text--lightTheme);
    }

    .order__combo-selector-account {
        margin-bottom: 3px;
        max-width: 91px;
    }

    .exchange-logo {
        height: 20px;
        width:75px
    }

    .order-input {
        display: flex;
        flex-direction: column;

        /deep/ .v-input__control input::placeholder {
            padding-right: 10px;
            text-align: right;
        }

        /deep/ .v-input__slot {
            margin-bottom: 5px;
            padding-left: 4px;
        }

        .switch-control {
            margin-left: 9px;
        }
    }

    .balance {
        margin-top: 9px;
        display: flex;
        align-items: center;

    &__btn {
         margin: 0;
     }
    }
    .balance-main {
        padding-left: 0;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: -0.22px;
        line-height: 1;
        margin-left: -7px;
        font-size: 8px;
    }

    .order-type-input-controls {
        margin-top: 0;
        padding-top: 0;

        /deep/ .v-label {
            font-size: rem(11);
            letter-spacing: -0.22px;

            &.theme--light {
                color: var(--color-main-text--lightTheme);
            }
        }

        /deep/ .v-input__control {
            width: 100%;
        }

        /deep/ .v-input--radio-group__input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        /deep/ .v-input__slot {
            margin-bottom: 0;
        }

        /deep/ .v-icon {
            color: #ccc;
        }

        .order-type-col {
            display: flex;
            flex-direction: column;
            flex-basis: 48%;
            width: 48%;

            &_1 {
                margin-right: 4%;
            }
        }
    }

    .control-price-direction {
        margin-top: -5px;

        /deep/ .v-input--radio-group__input {
            justify-content: unset;
        }

        /deep/ .v-radio:not(:last-child):not(:only-child) {
            margin-bottom: 0;
        }
    }

    .leverage {
        margin-top: 3px;
        padding-left: 3px;
        padding-right: 3px;

        &__labels {
            display: flex;
            justify-content: space-between;
            margin-bottom: -5px;
            font-size: rem(11);
        }

        .label-item {

            &:hover {
                color: var(--color-main-text--hover--lightTheme);
                cursor: pointer;
                transition: color 0.3s;
            }
        }

        .v-input--slider {
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 0;

            /deep/ .v-input__slot {
                margin-bottom: 0;
            }

            /deep/ .v-messages {
                display: none;
            }
        }
    }

    .order-total-wrap {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 11px;
      align-items: center;
      padding: 4px 5px 15px 0;

      .order-total{
        font-size: 13px;
        letter-spacing: -1px;
      }
      .order-total-cost{
        display: grid;
        grid-template-columns: 1fr 35px;
        align-items: center;
        padding: 4px 8px;
        min-height: 34px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
        :nth-child(1){
          overflow: hidden;
        }
        :nth-last-child(1){
          color: #bbb;
          font-size: 14px;
        }
        p{
          margin: 0;
        }
      }
    }

    .order__action {
        .v-btn {
            font-size: rem(13);
            text-transform: capitalize;
            width: 100%;
        }
    }
</style>
