<template>
    <div class="pt-1 caption order-book">
        <v-layout row wrap class="order-book__last-price">
            <v-flex sm6 d-flex class="primary--text">{{ bestBuyPrice }}</v-flex>
            <v-flex sm6 d-flex class="error--text" justify-end>{{ bestSellPrice }}</v-flex>
        </v-layout>

        <v-layout row wrap class="order-book__header">
            <v-flex sm2 d-flex class="primary--text header-item">
                {{$t('header.order_book_total')}} {{ marketQuote }}
            </v-flex>
            <v-flex sm2 d-flex class="primary--text header-item">
                {{$t('header.order_book_amount')}} {{ marketBase }}
            </v-flex>
            <v-flex sm2 d-flex class="primary--text header-item">
                {{$t('header.order_book_price')}} {{ marketQuote }}
            </v-flex>
            <v-flex sm2 d-flex class="error--text header-item">
                {{$t('header.order_book_price')}} {{ marketQuote }}
            </v-flex>
            <v-flex sm2 d-flex class="error--text header-item">
                {{$t('header.order_book_amount')}} {{ marketBase }}
            </v-flex>
            <v-flex sm2 d-flex class="error--text header-item">
                {{$t('header.order_book_total')}} {{ marketQuote }}
            </v-flex>
        </v-layout>
        <lazy-load-list
                :data="bookRows"
                :listHeight="listHeight"
                :itemHeight="20"
                :hasSearchInput="false"
                :searchKeys="[]"
                class="order-book-list"
                v-if="resetListToggler"
        >
            <template slot-scope="item">
                <v-layout row wrap>
                    <v-flex sm2 d-flex class="order-book-list__item">
                        <template v-if="item.bid.total">
                            {{item.bid.total.toFixed(2)}}
                        </template>
                    </v-flex>
                    <v-flex sm2 d-flex class="order-book-list__item">
                        <template v-if="item.bid.amount">
                            {{item.bid.amount|trimZeroes}}
                        </template>
                    </v-flex>

                    <v-flex sm2 d-flex class="order-book-list__item primary--text price-selector" @click="setOrderPrice({orderPrice:item.bid.price})">
                        <template v-if="item.bid.price">
                            {{item.bid.price|trimZeroes}}
                        </template>
                    </v-flex>
                    <v-flex sm2 d-flex class="order-book-list__item error--text price-selector" @click="setOrderPrice({orderPrice:item.ask.price})">
                    <template v-if="item.ask.price">
                            {{item.ask.price|trimZeroes}}
                        </template>
                    </v-flex>
                    <v-flex sm2 d-flex class="order-book-list__item">
                        <template v-if="item.ask.amount">
                            {{item.ask.amount|trimZeroes}}
                        </template>
                    </v-flex>
                    <v-flex sm2 d-flex class="order-book-list__item">
                        <template v-if="item.ask.total">
                            {{item.ask.total.toFixed(2)}}
                        </template>
                    </v-flex>
                </v-layout>
            </template>
        </lazy-load-list>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import pako from 'pako';

export default {
    name: 'orderBook',
    props: [
        'windowId',
        'windowData',
    ],
    data() {
        return {
            verticalOffset: 80,
            listHeight: this.windowData.windowLayout.height - this.verticalOffset,
            resetListToggler: true,
            ws: null,
            wsPing: null,
        }
    },
    watch: {
        '$props': {
            handler: function (newVal, oldVal) {
                if (newVal.windowData.windowLayout.height - this.verticalOffset !== this.listHeight) {
                    this.setListHeight(newVal.windowData.windowLayout.height - this.verticalOffset);
                }
            },
            deep: true
        },
        market: function (newValue, oldValue) {
            if (newValue !== null && oldValue !== newValue) {
                this.setOrderBookConnector();
                this.setAdditionalTitleAction({windowId: this.windowId, additionalTitle: this.$store.state.tradingManager.market.symbol});
            }
        }
    },
    computed: {
        bookRows() {
            let bookDepth = Math.max(this.orderBook.asks.length, this.orderBook.bids.length);
            let bookRows = [];
            for (let i = 0; i < bookDepth; i++) {
                let ask = this.orderBook.asks[i] ? {
                        price: this.orderBook.asks[i][0],
                        amount: this.orderBook.asks[i][1],
                        total: this.orderBook.asks[i][0] * this.orderBook.asks[i][1],
                    } : {};
                let bid = this.orderBook.bids[i] ? {
                        price: this.orderBook.bids[i][0],
                        amount: this.orderBook.bids[i][1],
                        total: this.orderBook.bids[i][0] * this.orderBook.bids[i][1],
                    } : {};
                bookRows[i] = {
                    ask: ask,
                    bid: bid,
                }
            }

            return bookRows;
        },
        market() {
            return this.$store.state.tradingManager.market;
        },
        orderBook () {
            return this.$store.state.tradingManager.orderBook;
        },
        bestBuyPrice () {
            return this.$store.getters['bestBuyPrice'];
        },
        bestSellPrice () {
            return this.$store.getters['bestSellPrice'];
        },
        marketBase () {
            return this.$store.state.tradingManager.marketBase;
        },
        marketQuote () {
            return this.$store.state.tradingManager.marketQuote;
        }
    },
    mounted() {
        this.setListHeight(this.windowData.windowLayout.height - this.verticalOffset);

        if (this.$store.state.tradingManager.market) {
            this.setAdditionalTitleAction({windowId: this.windowId, additionalTitle: this.$store.state.tradingManager.market.symbol});
        }
    },
    methods: {
        ...mapActions({
            setOrderPrice: 'setOrderPrice',
            setOrderBookConnector: 'setOrderBookConnector',
            setAdditionalTitleAction: 'setAdditionalTitle',
        }),
        setListHeight(height) {
            this.resetListToggler = false;
            this.listHeight = height;
            setTimeout(()=>{this.resetListToggler = true}, 0);
        },
        setChannel() {
            if (this.$store.state.tradingManager.market) {
                if (this.ws) {
                    this.ws.close()
                }
                if (this.wsPing) {
                    clearInterval(this.wsPing);
                    this.wsPing = null
                }

                window.Echo.leave('exmo.orderbook.received');
            }
        },
    }
}
</script>

<style lang="scss">
.price-selector:hover {
    cursor: pointer;
    font-weight: bold;
}

.order-book-list__item{
  padding-right: 12px;
}
</style>
