<template>
    <div class="pair-selector pt-0">
        <v-layout row wrap class="coin-info pair-selector__coin-info border-b"
                  v-if="selectedTab !== 'balance'" align-center>
            <v-flex xs3 md3 sm3 d-flex class="pr-3 pt-1" align-start>
                <div>
                    <v-img :class="{'pair-selector-icon':windowData.maximized}" :src="cryptoIcon" v-on:error="failedImage=true"></v-img>
                </div>
            </v-flex>
            <v-flex xs5 md5 sm5>
                <template v-if="market && cryptocurrencies">
                    <div class="coin-info__name">{{cryptoName}}</div>
                    <div class="title coin-info__price"
                         :class="{'error--text': marketTicker.c < 0,'primary--text': marketTicker.c > 0}"
                         @click="setOrderPrice({orderPrice:marketTicker.p})">
                        {{marketTicker.p|trimZeroes}}
                    </div>
                    <div>{{market.symbol}} ({{market.exchange.name}})</div>
                    <div v-if="marketTicker.v" class="coin-info__vol">
                        <span>{{$t('text.volume')}}</span> {{marketTicker.v|prettyNumber}}
                    </div>
                </template>
            </v-flex>
            <v-flex xs4 md4 sm4>
                <template v-if="market && cryptocurrencies">
                    <div class="coin-info__time-range"><span>24 h</span></div>
                    <div v-if="marketTicker.h" class="coin-info__price-range">
                        <a class="primary--text" @click="setOrderPrice({orderPrice:marketTicker.h})">
                            <span>High</span>
                            <span>{{marketTicker.h|trimZeroes}}</span>
                        </a>
                    </div>
                    <div v-if="marketTicker.l" class="coin-info__price-range">
                        <a class="error--text" @click="setOrderPrice({orderPrice:marketTicker.l})">
                            <span>Low</span>
                            <span>{{marketTicker.l|trimZeroes}}</span>
                        </a>
                    </div>
                    <div v-if="marketTicker.c" class="coin-info__percentage">
                        <span>Change:</span>
                        <span :class="{'error--text': marketTicker.c < 0, 'primary--text': marketTicker.c > 0}">
                            {{marketTicker.c.toFixed(2)}}%
                        </span>
                    </div>
                </template>
            </v-flex>
        </v-layout>

        <v-layout row wrap class="balance-info pair-selector__coin-info border-b"
                  v-if="selectedTab === 'balance'">
            <!--<v-flex xs3 md3 sm3 d-flex class="pr-1" align-start>-->
                <!--<div class="balance-block balance-block_acquisition-cost">-->
                    <!--<div class="balance-block__title">Acquisition cost</div>-->
                    <!--<div class="balance-block__value">-->
                        <!--{{summaryBalance.acquisitionCost.toFixed(balanceStatisticCurrency=='USD' ? 2 : 8)}} {{balanceStatisticCurrency}}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</v-flex>-->

            <!--<v-flex xs3 md3 sm3 d-flex class="pr-1" align-start>-->
                <!--<div class="balance-block balance-block_profit-loss"-->
                     <!--:class="{'balance-block_plus':summaryBalance.profitLoss.value>0, 'balance-block_minus':summaryBalance.profitLoss.value<0}">-->
                    <!--<div class="balance-block__title">Profit <br>/loss</div>-->
                    <!--<div class="balance-block__value">-->
                        <!--{{summaryBalance.profitLoss.value.toFixed(balanceStatisticCurrency=='USD' ? 2 : 8)}} {{balanceStatisticCurrency}}-->
                        <!--<br>-->
                        <!--{{summaryBalance.profitLoss.percentage.toFixed(2)}} %-->
                    <!--</div>-->
                <!--</div>-->
            <!--</v-flex>-->

            <v-flex xs6 md6 sm6 d-flex class="pr-1" align-start>
                <div class="balance-block balance-block_holding">
                    <div class="balance-block__title">Holding</div>
                    <div class="balance-block__value">
                        {{summaryBalance.holding.toFixed(balanceStatisticCurrency=='USD' ? 2 : 8)}} {{balanceStatisticCurrency}}
                    </div>
                </div>
            </v-flex>

            <v-flex xs6 md6 sm6 d-flex align-start>
                <div class="balance-block balance-block_24h-profit-loss"
                     :class="{'balance-block_plus':summaryBalance.change24h.value>0, 'balance-block_minus':summaryBalance.change24h.value<0}">
                    <div class="balance-block__title">Change 24H</div>
                    <div class="balance-block__value">
                    {{summaryBalance.change24h.value.toFixed(balanceStatisticCurrency=='USD' ? 2 : 8)}} {{balanceStatisticCurrency}}
                    <br>
                    {{summaryBalance.change24h.percentage.toFixed(2)}} %
                    </div>
                </div>
            </v-flex>
        </v-layout>

        <v-layout row wrap class="coin-selector" v-if="selectedTab !== 'balance'">
            <v-flex xs12 sm6 d-flex class="pr-2">
                <v-autocomplete
                    class="combo-selector combo-selector_search mt-0 pt-0"
                    v-model="baseCurrency"
                    :items="baseCurrencies"
                    item-value="name"
                    item-text="name"
                    :dense="true"
                    :clearable="true"
                    clear-icon="close"
                    append-icon="search"
                    height="30"
                    hide-no-data
                ></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
                <v-autocomplete
                    class="combo-selector mt-0 pt-0"
                    v-model="quoteCurrency"
                    :items="quoteCurrencies"
                    item-value="name"
                    item-text="name"
                    :dense="true"
                    :clearable="true"
                    clear-icon="close"
                    append-icon="arrow_drop_down"
                    height="30"
                    hide-no-data
                ></v-autocomplete>
            </v-flex>
        </v-layout>

        <v-layout row wrap class="coin-selector" v-if="selectedTab === 'balance'">
            <v-flex xs12 sm6 d-flex class="pr-2">
                <v-autocomplete
                    class="combo-selector mt-0 pt-0 balance-account"
                    v-model="balanceAccount"
                    :items="accounts"
                    :return-object="true"
                    item-text="account_name"
                    :dense="true"
                    append-icon="arrow_drop_down"
                    height="30"
                    hide-no-data
                    placeholder="All accounts"
                    auto-select-first
                ></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
                <div class="balance-show-value">
                    <span>Show value</span>
                    <v-autocomplete
                        class="combo-selector combo-selector_search mt-0 pt-0"
                        v-model="balanceStatisticCurrency"
                        :items="statisticCurrencies"
                        :dense="true"
                        append-icon="arrow_drop_down"
                        height="30"
                        hide-no-data
                        auto-select-first
                    ></v-autocomplete>
                </div>
            </v-flex>
        </v-layout>

        <v-layout row wrap class="pair-selector__tab-control">
            <v-flex sm4 d-flex justify-center>
                <v-btn flat small @click="selectedTab='pairs'" class="pair-selector-tab"
                       :class="{'pair-selector-tab_active': selectedTab === 'pairs'}">
                    {{$t('menu.pairs_pair')}}
                </v-btn>
            </v-flex>
            <v-flex sm4 d-flex justify-center>
                <v-btn flat small @click="selectedTab='favor'" class="pair-selector-tab"
                       :class="{'pair-selector-tab_active': selectedTab === 'favor'}">
                    {{$t('menu.pairs_favorites')}}
                </v-btn>
            </v-flex>
            <v-flex sm4 d-flex justify-center>
                <v-btn flat small @click="selectedTab='balance'" class="pair-selector-tab"
                       :class="{'pair-selector-tab_active': selectedTab === 'balance'}">
                    {{$t('menu.pairs_balance')}}
                </v-btn>
            </v-flex>
        </v-layout>

        <template>
            <div class="tab-wrapper">
                <template v-if="selectedTab=='pairs'">
                    <v-layout row wrap class="pairs-header header-table">
                        <v-flex sm2 d-flex justify-left>
                            {{$t('title.exchange')}}
                        </v-flex>

                        <v-flex sm10 d-flex>
                            <v-layout row wrap>
                                <v-flex sm3 d-flex justify-left class="header-table__item">
                                    {{$t('title.pair')}}
                                </v-flex>
                                <v-flex sm3 d-flex justify-left class="header-table__item text-xs-right">
                                    <span>{{$t('title.change')}}</span>
                                </v-flex>
                                <v-flex sm3 d-flex justify-left class="header-table__item text-xs-right pr-1">
                                    <span>{{$t('title.price')}}</span>
                                </v-flex>
                                <v-flex sm2 d-flex justify-left class="header-table__item text-xs-right">
                                    <span>{{$t('title.volume')}}</span>
                                </v-flex>
                                <v-flex sm1 d-flex justify-left class="header-table__item">
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>

                    <div id="table-top-edge"></div>

                    <v-layout row wrap>
                        <v-flex xs12 sm2 d-flex>
                            <v-radio-group class="control-market-list" v-model="exchangeCode" :mandatory="false">
                                <v-radio
                                    v-for="exchange in exchangesList"
                                    :key="exchange.code"
                                    :label="exchange.name"
                                    :value="exchange.code"
                                    class="control-market-list__radio"
                                    iconOn=""
                                    iconOff=""
                                ></v-radio>
                            </v-radio-group>
                        </v-flex>

                        <v-flex xs12 sm10 d-flex v-if="exchange">
                            <lazy-load-list
                            :data="markets"
                            :listHeight="listHeight"
                            :itemHeight="20"
                            :hasSearchInput="false"
                            :searchKeys="[]"
                            class="market-list"
                            v-if="resetListToggle"
                        >
                            <template slot-scope="item">
                                <v-layout row wrap class="pairs-row">
                                    <v-flex sm3 d-flex justify-left @click="selectMarket(item)" class="font-weight-bold">
                                        {{ item.symbol }}
                                    </v-flex>
                                    <v-flex sm3 d-flex justify-left @click="selectMarket(item)" class="text-xs-right">
                                        <span v-if="item.ticker.c !== null && item.ticker.c >= 0" class="primary--text">
                                            +{{ item.ticker.c | round(2, true) }}%
                                        </span>
                                        <span v-else-if="item.ticker.c !== null && item.ticker.c < 0" class="error--text">
                                            {{ item.ticker.c | round(2, true) }}%
                                        </span>
                                        <span v-else>-</span>
                                    </v-flex>
                                    <v-flex sm3 d-flex justify-left @click="selectMarket(item, item.ticker.p)"
                                            class="text-xs-right pr-1">
                                        <span>{{ item.ticker.p | round(5) }}</span>
                                    </v-flex>
                                    <v-flex sm2 d-flex justify-left @click="selectMarket(item)" class="text-xs-right">
                                        <span>{{ item.ticker.v | prettyNumber }}</span>
                                    </v-flex>
                                    <v-flex sm1 d-flex justify-left @click="setMarketFavorite(item)" class="text-xs-right">
                                        <v-icon small v-if="item.isFavorite">star</v-icon>
                                        <v-icon small v-else>star_border</v-icon>
                                    </v-flex>
                                </v-layout>
                            </template>
                        </lazy-load-list>
                        </v-flex>
                    </v-layout>
                </template>

                <template v-else-if="selectedTab=='favor'">
                    <v-layout row wrap class="pairs-header header-table">
                        <v-flex sm2 d-flex justify-left>
                            {{$t('title.exchange')}}
                        </v-flex>
                        <v-flex sm3 d-flex justify-left class="header-table__item">
                            {{$t('title.pair')}}
                        </v-flex>
                        <v-flex sm2 d-flex justify-left class="header-table__item text-xs-right">
                            <span>{{$t('title.change')}}</span>
                        </v-flex>
                        <v-flex sm2 d-flex justify-left class="header-table__item text-xs-right">
                            <span>{{$t('title.price')}}</span>
                        </v-flex>
                        <v-flex sm2 d-flex justify-left class="header-table__item text-xs-right">
                            <span>{{$t('title.volume')}}</span>
                        </v-flex>
                        <v-flex sm1 d-flex justify-left class="header-table__item">
                        </v-flex>
                    </v-layout>

                    <lazy-load-list
                            :data="favoriteMarkets"
                            :listHeight="listHeight"
                            :itemHeight="20"
                            :hasSearchInput="false"
                            :searchKeys="[]"
                            class="market-list"
                            v-if="resetListToggle"
                    >
                        <template slot-scope="item">
                            <v-layout row wrap class="pairs-row">
                                <v-flex sm2 d-flex justify-left @click="selectMarket(item)">
                                    {{ item.exchange.name }}
                                </v-flex>
                                <v-flex sm3 d-flex justify-left @click="selectMarket(item)" class="font-weight-bold">
                                    {{ item.symbol }}
                                </v-flex>
                                <v-flex sm2 d-flex justify-center @click="selectMarket(item)" class="text-xs-right">
                                    <span v-if="favoriteTickers&&favoriteTickers[item.exchange_code]&&favoriteTickers[item.exchange_code][item.ticker_code]" :class="{'error--text':favoriteTickers[item.exchange_code][item.ticker_code].percentage<0, 'primary--text':favoriteTickers[item.exchange_code][item.ticker_code].percentage>0}"
                                    >
                                    {{ favoriteTickers[item.exchange_code][item.ticker_code].percentage }}%
                                    </span>
                                    <span v-else>-</span>
                                </v-flex>
                                <v-flex sm2 d-flex justify-left @click="selectMarket(item, item.last)"
                                        class="text-xs-right">
                                    <template v-if="favoriteTickers&&favoriteTickers[item.exchange_code]&&favoriteTickers[item.exchange_code][item.ticker_code]">
                                        {{ favoriteTickers[item.exchange_code][item.ticker_code].last|trimZeroes}}
                                    </template>
                                </v-flex>
                                <v-flex sm2 d-flex justify-left @click="selectMarket(item)" class="text-xs-right">
                                    <template v-if="favoriteTickers&&favoriteTickers[item.exchange_code]&&favoriteTickers[item.exchange_code][item.ticker_code]">
                                        {{ favoriteTickers[item.exchange_code][item.ticker_code].volume|prettyNumber }}
                                    </template>
                                </v-flex>
                                <v-flex sm1 d-flex justify-left @click="setMarketFavorite(item, item.exchange_id)">
                                    <v-icon small>close</v-icon>
                                </v-flex>
                            </v-layout>
                        </template>
                    </lazy-load-list>
                </template>

                <template v-if="selectedTab === 'balance'">
                    <v-layout row wrap class="pairs-header header-table">
                        <v-flex sm12 d-flex>
                            <v-layout row wrap>
                                <v-flex sm1 d-flex class="header-table__item">
                                    {{$t('header.balances.ticker')}}
                                </v-flex>
                                <v-flex sm3 d-flex justify-right class="header-table__item text-xs-right">
                                    <span>{{$t('header.balances.amount')}}</span>
                                </v-flex>
                                <v-flex sm3 d-flex justify-right class="header-table__item text-xs-right pr-1">
                                    <span>{{$t('header.balances.price')}}</span>
                                </v-flex>
                                <v-flex sm2 d-flex justify-right class="header-table__item text-xs-right">
                                    <span>{{$t('header.balances.total')}}</span>
                                </v-flex>
                                <v-flex sm3 d-flex justify-right class="header-table__item text-xs-right">
                                    <span>{{$t('header.balances.change_24')}}</span>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>

                    <div id="table-top-edge"></div>

                    <v-layout row wrap>
                        <template v-if="!balanceLoaded">
                            <v-flex xs12 sm10 d-flex justify-center>
                                <v-progress-circular
                                    indeterminate
                                    color="primary"
                                ></v-progress-circular>
                            </v-flex>
                        </template>

                        <v-flex xs12 d-flex v-if="balanceLoaded">
                            <lazy-load-list
                                :data="selectedBalances"
                                :listHeight="listHeight"
                                :itemHeight="20"
                                :hasSearchInput="false"
                                :searchKeys="[]"
                                class="market-list"
                                v-if="resetListToggle"
                            >
                                <template slot-scope="item">
                                    <v-layout row wrap class="pairs-row">
                                        <v-flex sm1 d-flex class="font-weight-bold">
                                            {{ item.asset }}
                                        </v-flex>

                                        <v-flex sm3 d-flex justify-right class="text-xs-right">
                                            <span>{{ item.amount_all | round(8, false) }}</span>
                                        </v-flex>

                                        <v-flex sm3 d-flex justify-right class="text-xs-right pr-1">
                                            <span v-if="item[balanceStatisticCurrency]">{{ item[balanceStatisticCurrency].price | round(6, false) }}</span>
                                        </v-flex>

                                        <v-flex sm2 d-flex justify-right class="text-xs-right">
                                            <span v-if="item[balanceStatisticCurrency]">{{ item[balanceStatisticCurrency].price * item.amount_all | round(6, true) }}</span>
                                        </v-flex>

                                        <v-flex sm3 d-flex justify-right class="text-xs-right">
                                            <span v-if="item[balanceStatisticCurrency]">
                                            <span v-if="item.change !== null && item[balanceStatisticCurrency].percentage >= 0" class="primary--text">
                                                +{{ item[balanceStatisticCurrency].percentage | round(2, true) }}%
                                            </span>
                                            <span v-else-if="item.change !== null && item[balanceStatisticCurrency].percentage < 0" class="error--text">
                                                {{ item[balanceStatisticCurrency].percentage | round(2, true) }}%
                                            </span>
                                            <span v-else>-</span>
                                            </span>
                                        </v-flex>
                                    </v-layout>
                                </template>
                            </lazy-load-list>
                        </v-flex>
                    </v-layout>
                </template>
            </div>
        </template>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import cryptocurrencies from 'cryptocurrencies';

export default {
    name: 'pairSelector',
    props: [
        'windowData',
    ],
    data () {
        return {
            selectedTab: 'pairs',
            listHeight: 120,
            resetListToggle: true,
            failedImage: false,
            balanceLoaded: true,
            ticker: {},
            balanceStatisticCurrency: 'USD',
        }
    },
    beforeMount () {
        this.cryptocurrencies = cryptocurrencies;
        this.setListHeight();
    },
    watch: {
        '$props': {
            handler: function () {
                this.setListHeight();
            },
            deep: true
        },
        market: function (newValue, oldValue) {
            this.setListHeight();
        }
    },
    computed: {
        balanceAccount: {
            get () {
                return this.$store.state.tradingManager.balanceAccount;
            },
            set (value) {
                this.setBalanceAccount({balanceAccount: value});
            }
        },
        selectedBalances() {
            if (this.balanceAccount) {
                return this.ratedBalances[this.balanceAccount.id]
            }

            return [];
        },
        exchangesList() {
            return this.$store.getters['exchangesList'];
        },
        summaryAccountBalancesHistory() {
            return this.$store.getters['summaryAccountBalancesHistory'];
        },
        summaryBalance() {
            return this.summaryAccountBalancesHistory[this.balanceStatisticCurrency];
        },
        commonAccountBalances() {
            return this.$store.getters['commonAccountBalances'];
        },
        statisticCurrencies() {
            return this.$store.state.tradingManager.statisticCurrencies;
        },
        ratedBalances() {
            return this.$store.getters['ratedBalances'];
        },
        accounts() {
            let storedAccounts = this.$store.state.tradingManager.accounts;
            let accounts = [];

            Object.keys(storedAccounts).map((key) => {
                accounts[accounts.length] = storedAccounts[key];
            });

            if (!this.balanceAccount) {
                this.balanceAccount = accounts[0];
            }

            return accounts;
        },
        userExchanges() {
            return this.$store.state.tradingManager.userExchanges;
        },
        exchangeCode: {
            get () {
                return this.$store.state.tradingManager.exchangeCode;
            },
            set (value) {
                this.setExchangeCode({exchangeCode: value});
            }
        },
        exchange() {
            return this.$store.getters['exchange'];
        },
        baseCurrencies() {
            return this.$store.getters['baseCurrencies'];
        },
        quoteCurrencies() {
            return this.$store.getters['quoteCurrencies'];
        },
        baseCurrency: {
            get () {
                return this.$store.state.tradingManager.baseCurrency;
            },
            set (value) {
                this.setBaseCurrency({baseCurrency: value});
            }
        },
        quoteCurrency: {
            get () {
                return this.$store.state.tradingManager.quoteCurrency;
            },
            set (value) {
                this.setQuoteCurrency({quoteCurrency: value});
            }
        },
        markets() {
            return this.$store.getters['markets'];
        },
        marketTicker() {
            return this.$store.getters['marketTicker'];
        },
        market: {
            get () {
                return this.$store.state.tradingManager.market;
            },
            set (value) {
                this.setMarket({market: value});
            }
        },
        favoriteMarkets() {
            return this.$store.state.tradingManager.favoriteMarkets;
        },
        cryptoName() {
            if(this.market && this.cryptocurrencies) {
                return this.cryptocurrencies[this.market.base]
            }

            return '';
        },
        cryptoIcon() {
            if(this.market) {
                let extension = this.failedImage ? '.jpg' : '.png';
                return  'crypto-icon/' + this.market.base.toLowerCase() + extension;
            }

            return '';
        },
        tickers() {
            return this.$store.state.tradingManager.tickers;
        },
        favoriteTickers() {
            return this.$store.state.tradingManager.favoriteTickers;
        },
    },
    methods: {
        ...mapActions({
            setBalanceAccount: 'setBalanceAccount',
            setExchangeCode: 'setExchangeCode',
            setQuoteCurrency: 'setQuoteCurrency',
            setBaseCurrency: 'setBaseCurrency',
            setMarket: 'setMarket',
            setOrderPrice: 'setOrderPrice',
        }),
        setListHeight() {
            if (document.getElementById('table-top-edge') && this.windowData.windowLayout.height - document.getElementById('table-top-edge').offsetTop - 35 !== this.listHeight) {
                this.resetListToggle = false;
                this.listHeight = this.windowData.windowLayout.height - document.getElementById('table-top-edge').offsetTop - 35;
                setTimeout(()=>{this.resetListToggle = true}, 0);
            }
        },
        selectMarket(market, price) {
            this.failedImage = false;
            this.market = market;
            if (price) {
                this.setOrderPrice({orderPrice: price});
            } else {
                this.setOrderPrice({orderPrice: null});
            }
        },
//        setMarketFavorite(market, exchangeId = null) {
//            if (exchangeId === null) {
//                exchangeId = this.exchange.id;
//            }
//            this.$axios.post('cabinet/change-favorite-symbol', {
//                    exchangeId: exchangeId,
//                    symbol: market.symbol,
//                }).then((response) => {
//                this.favoriteSymbols[exchangeId] = response.data.data.favoriteSymbols ? response.data.data.favoriteSymbols : [];
//            });
//        },
//        changeExchange() {
//            this.$axios.get('cabinet/get-exchange-data/' + this.exchange.id).then((response) => {
//                this.baseCurrency = null;
//                this.quoteCurrency = null;
//                this.setBaseCurrencyAction({baseCurrency: this.baseCurrency});
//                this.setQuoteCurrencyAction({quoteCurrency: this.quoteCurrency});
//                this.setExchangeAction({exchange: this.exchange})
//
//                let markets = response.data.data.markets,
//                    baseCurrencies = response.data.data.baseCurrencies,
//                    quoteCurrencies = response.data.data.quoteCurrencies;
//
//                this.quoteCurrencies = Object.keys(quoteCurrencies).map(function(key) {
//                    return {id: key, name: quoteCurrencies[key]}
//                }).sort((item1, item2) => {
//                    return item1.name < item2.name ? -1 : 1;
//                });
//
//                this.baseCurrencies = Object.keys(baseCurrencies).map(function(key) {
//                    return {id: key, name: baseCurrencies[key]}
//                }).sort((item1, item2) => {
//                    return item1.name < item2.name ? -1 : 1;
//                });
//
//                this.markets = markets.sort((item1, item2) => {
//                    return item1.symbol < item2.symbol ? -1 : 1;
//                });
//
//                this.refreshTickersAction({exchangeId: this.exchange.id});
//            });
//        },
    },
}
</script>

<style lang="scss" scoped>
  .coin-selector{
    .v-input__slot{
      padding-left: 60px!important;
    }
  }
    .header-table {
        margin-bottom: 15px;
    }

    .pair-selector-tab {
        padding-bottom: 15px;
        border-bottom: 3px solid transparent;
        border-radius: 0;

        &:hover:before,
        &:focus:before {
            background-color: transparent;
            border-color: red;
        }

        &_active {
            border-color: var(--v-primary-base);
        }
    }

    .tab-wrapper {
        min-height: 150px;
    }

    .coin-selector {
        padding-top: 20px;
    }

    .balance-info {
        min-height: 99px;

        .flex {
            padding-top: 10px;
        }
    }

    .balance-account {
        min-width: 105px;

        /deep/ .v-select__slot  {

            input::placeholder {
                color: var(--color-main-text--lightTheme);
                font-size: rem(11);
            }
        }
    }

    .balance-show-value {
        display: flex;
        align-items: center;

        span {
            color: var(--color-main-text--lightTheme);
            font-size: rem(11);
            letter-spacing: -0.22px;
        }

        .combo-selector {
            padding-left: 10px;
            max-width: 70px;
        }
    }

    .balance-block {
        height: 76px;
        border-radius: 5px;
        font-size: rem(11);
        letter-spacing: -0.22px;

        &__title,
        &__value {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            text-align: center;
        }

        &_acquisition-cost,
        &_holding {
            border: 1px solid #e3f2fd;
            color: #004a80;

            .balance-block__title {
                background-color: #e3f2fd;
            }
        }

        &_plus {
            color: #00843b;
            border: 1px solid #d1f0df;

            .balance-block__title {
                background-color: #d1f0df;
            }
        }

        &_minus {
            color: #d40600;
            border: 1px solid #fbe1e1;

            .balance-block__title {
                background-color: #fbe1e1;
            }
        }
    }
</style>

<style lang="scss">
    .pair-selector-icon{
      width: 100px;
    }

    .pairs-row {
        font-size: 12px;
        cursor: pointer;

        &:hover {
             border: 1px solid var(--v-secondary-base);
             border-radius: 4px;
         }
    }

    .pairs-header {
        font-size: 12px;
    }

    .market-list {
        .vl-wrap {
            border: 1px solid transparent!important;
        }
    }

    .balance {
        text-indent: 10px;
    }

    .control-market-list.v-input {
        margin-top: 0;
        padding-top: 0;


        .v-radio {
            height: 20px;
            margin: 0 !important;
        }

        .v-label {
            font-size: 12px;
            vertical-align: baseline;
            color: var(--color-main-text--lightTheme);

            #app.theme--dark & {
                color: var(--color-main-text--darkTheme);
            }

            &:hover {
                color: var(--color-main-text--hover--lightTheme);
            }
        }

        .v-input--selection-controls {
            margin-top: 0;
            padding-top: 0;
        }

        .v-input--selection-controls__input {
            display: none;
        }
    }
</style>
