<template>
    <div class="TVChartContainer" :id="containerId" />
</template>

<script>
    import datafeed from '~/assets/js/datafeed/datafeed'

    export default {
        name: 'TVChartContainer',
        props: {
            market: null,
            containerId: null,
            colorTheme: null,
        },
        data() {
            return {
                tvWidget: null,
            }
        },
        mounted() {
            this.createTVWidget();
        },
        watch: {
            colorTheme(newVal, oldVal) {
                this.tvWidget.changeTheme(newVal);
            },
            market(newVal, oldVal) {
                this.createTVWidget();
            },
        },
        methods: {
            createTVWidget() {
                datafeed.getDatafeed(this.market, this);
                const widgetOptions = {
                    debug: false,
                    symbol: this.market,
                    datafeed: datafeed.getDatafeed(this.market, this),
                    interval: '30',
                    container_id: this.containerId,
                    library_path: '/charting_library/',
                    locale: 'en',
                    disabled_features: ['use_localstorage_for_settings'],
                    enabled_features: [],
                    client_id: 'test',
                    user_id: 'public_user_id',
                    fullscreen: false,
                    autosize: true,
                    theme: this.colorTheme
                };

                const tvWidget = new window.TradingView.widget(widgetOptions);
                this.tvWidget = tvWidget;

                this.tvWidget.onChartReady(() => {
                    const button = tvWidget.createButton()
                        .attr('title', 'Click to show a notification popup')
                        .addClass('apply-common-tooltip')
                        .on('click', () => tvWidget.showNoticeDialog({
                            title: 'Notification',
                            body: 'TradingView Charting Library API works correctly',
                            callback: () => {
                                // eslint-disable-next-line no-console
                                console.log('Noticed!');
                            },
                        }));
                    button[0].innerHTML = 'Check API';

                    tvWidget.subscribe('mouse_down', () => {

                    });
                    tvWidget.onContextMenu(function(unixtime, price) {
                        return [{
                            position: "top",
                            text: "First top menu item, time: " + unixtime + ", price: " + price,
                            click: function() {
                                console.log(price);
                            }
                        },
                            { text: "-", position: "top" },
                            { text: "-Objects Tree..." },
                            {
                                position: "top",
                                text: "Second top menu item 2",
                                click: function() { alert("Second clicked."); }
                            }, {
                                position: "bottom",
                                text: "Bottom menu item",
                                click: function() { alert("Third clicked."); }
                            }];
                    });
                });
            }
        },
        destroyed() {
//            if (this.tvWidget !== null) {
//                this.tvWidget.remove();
//                this.tvWidget = null;
//            }
        }
    }
</script>

<style lang="scss" scoped>
    .TVChartContainer {
        height: 100%;
    }
</style>
