<template>
    <!--<v-btn flat class="hidden-sm-and-down" v-if="$auth.user" @click="changeTypeCurrency()">-->
    <v-btn flat class="hidden-sm-and-down" @click="changeTypeCurrency()">
        <ul class="balance-main">
            <li>{{ $t('menu.pairs_balance') }} &nbsp;</li>
            <li v-if="typeCurrencyUSDT">{{ balances['USD'] ? balances['USD'].toFixed(2) : 0 }} $</li>
            <li v-else>{{ balances['BTC'] ? balances['BTC'].toFixed(8) : 0 }} BTC</li>
        </ul>
    </v-btn>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'balanceFull',
    data() {
        return {
            typeCurrencyUSDT: true
        }
    },
    methods: {
        changeTypeCurrency () {
            this.typeCurrencyUSDT = !this.typeCurrencyUSDT;
            localStorage.setItem('typeCurrency', JSON.stringify(this.typeCurrencyUSDT))
        }
    },
    mounted () {
        let savedTypeCurrency = JSON.parse(localStorage.getItem('typeCurrency'));
        if (savedTypeCurrency) {
            this.typeCurrencyUSDT = savedTypeCurrency
        }
    },
    computed: {
        balances() {
            return this.$store.getters['tradingManager/commonBalances'];
        },
    },
}
</script>

<style lang="scss" scoped>
.balance-main {
    display: flex;
    padding-left: 0;
    font-size: rem(10);
    color: #339966;
}
</style>
