<template>
    <router-link
            tag="v-btn"
            :to="url"
            flat
            class="hidden-md-and-down primary--text"
    >
        {{ name }}
    </router-link>
</template>

<script>
import mapFilters from '@/assets/js/helpers/mapFilters';

export default {
    name: 'menuItem',
    props: ['url', 'name'],
    methods: {
        ...mapFilters(['capitalize']),
    },
}
</script>

<style lang="scss" scoped>

</style>
