<template>
    <v-btn icon class="hidden-lg-and-up">
        <v-menu offset-y>
            <v-icon
                    slot="activator"
                    color="primary"
            >
                menu
            </v-icon>
            <v-list>
                <v-list-tile
                        v-for="item in items"
                        :key="item.name"
                        @click=""
                >
                    <router-link
                            :to="item.url"
                            tag="v-list-tile-title"
                            class="nav__link primary--text"
                    >
                        {{ item.name }}
                    </router-link>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-btn>
</template>

<script>
import mapFilters from '@/assets/js/helpers/mapFilters';

export default {
    name: 'menuItemList',
    props: ['items'],
    methods: {
        ...mapFilters(['capitalize']),
    },
}
</script>

<style lang="scss" scoped>

</style>
