<template>
    <v-menu offset-y offset-x min-width="160">
        <v-btn flat slot="activator" class="locale-changer">
            {{ selectedLocale.name }}
            <v-icon small>keyboard_arrow_down</v-icon>
        </v-btn>
        <v-list>
            <v-list-tile class="locale-list"
                    v-for="(locale, code) in locales"
                    :key="code"
                    @click="switchLanguage(code)"
            >
                <v-list-tile-title class="locale-item">
                    {{ locale.text }}
                </v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-menu>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
    name: 'menuLocaleChanger',
    computed: {
        locales() {
            return this.$store.state.locales
        },
        selectedLocale() {
            return this.$store.state.locales[this.$store.state.locale]
        }
    },
    methods: {
        ...mapMutations({
            toggleLocale: 'SET_LANG',
        }),
        switchLanguage (localeCode) {
            this.toggleLocale(localeCode);
            document.cookie = `locale=${localeCode}`;

            location.reload();
        }
    }
}
</script>

<style lang="scss" scoped>
.locale-changer {

    & /deep/ .v-btn__content {
        min-width: 65px;
    }

    & /deep/ .v-icon {
        margin-left: 11px;
    }

    #app.theme--dark & {
        color: var(--color-secondary-text--darkTheme);
    }
}

.locale-item {
    display: flex;
    align-items: center;
}
</style>
