<template>
    <router-link :to="reference">
        <div class="logo" :class="logoClass">

        </div>
    </router-link>
</template>

<script>
export default {
    props: ['reference'],
    name: 'menuLogo',
    computed: {
        logoClass () {
            return this.$store.state.actionManager.darkTheme ? "logo-dark" : "logo-light"
        }
    }
}
</script>

<style lang="scss" scoped>
    .logo {
        height: 50px;
        width: 100px;

    }
</style>
