<template>
    <v-toolbar-title class="hidden-sm-and-down"><b>HiCo Trading</b></v-toolbar-title>
</template>

<script>
export default {
  name: 'menuTitle',
}
</script>

<style lang="scss" scoped>

</style>
