<template>
    <div class="menu-user">
        <svg class="menu-user__icon" enable-background="new 0 0 29 30" version="1.1" viewBox="0 0 29 30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path class="st0" d="m8.2 11.1v4.6c1.4-0.3 2.4-1.5 2.4-2.9v-1.2c0-0.3 0.3-0.6 0.6-0.6h8.3c1.3 0 2.4-1 2.4-2.4v-0.4h-10.7c-1.7 0-3 1.3-3 2.9z"/>
            <path class="st0" d="m14.5 0c-8.1 0.1-14.6 6.9-14.5 15v1c0.3 8 7 14.3 15 14s14.3-7 14-15c0.1-8.1-6.4-14.9-14.5-15zm8.5 8.8c0 1.7-1.3 3.2-3 3.5v5.3c0 3.5-2.8 6.3-6.2 6.4-3.6 0.1-6.6-2.7-6.8-6.2v-0.2-6.5c0-2.3 1.9-4.1 4.2-4.1h11.2c0.3 0 0.6 0.3 0.6 0.6v1.2z"/>
            <path class="st0" d="m11.7 12.9c0 1.7-1.1 3.2-2.7 3.8-0.5 0.1-0.9 0.6-0.8 1.1 0.2 2.9 2.7 5.2 5.6 5 2.8-0.2 5-2.5 5-5.3v-5.3h-7.1v0.7z"/>
        </svg>

        <div class="menu-user__content">
            <!--<v-menu offset-y v-if="$auth.loggedIn">-->
            <v-menu offset-y>
                <v-btn slot="activator"  flat class="btn-user">
                      <!--$vuetify.breakpoint.mdAndUp ? $auth.user.name : ''-->
                    {{ $vuetify.breakpoint.mdAndUp ? "Armen" : '' }}
                </v-btn>
                <v-list>
                    <v-list-tile :to="'/cabinet'">
                        <v-list-tile-title>{{$t('link.cabinet')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="logout">
                        <v-list-tile-title>{{$t('action.logout')}}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <balance-full></balance-full>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import balanceFull from '@/components/layout/menu/balanceFull';

export default {
    name: 'menuUser',
    components: {
        'balance-full': balanceFull,
    },
    methods: {
        async logout() {
            // await this.$auth.logout();

            this.$router.push('/login')
        },
    },
}
</script>

<style lang="scss" scoped>
.menu-user {
    display: flex;
    align-items: center;

    &__icon {
        width: 29px;
        height: 30px;
        fill: #353537;

        #app.theme--dark & {
            fill: var(--color-secondary-text--darkTheme);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 13px;

        .v-btn {
            margin: 0;
            padding: 0 4px;
        }

        .v-btn /deep/ .v-btn__content {
            justify-content: flex-start;
        }

        .btn-user {
            font-size: rem(14);
            color: var(--color-main-text--lightTheme);

            #app.theme--dark & {
                color: var(--color-secondary-text--darkTheme);
            }
        }
    }
}
</style>
