<template>
  <div>
    <v-app :dark="$store.state.actionManager.darkTheme">
      <layout-menu-admin></layout-menu-admin>
      <nuxt/>
    </v-app>
  </div>
</template>

<script>
import MenuAdmin from '@/components/layout/menuAdmin';

export default {
    name: 'adminTemplate',
    components: {
        'layout-menu-admin': MenuAdmin,
    },
    mounted () {
        this.$axios.setHeader('X-locale', this.$store.state.locale);
    }
}
</script>
