<template>
  <div>
    <v-app :dark="$store.state.actionManager.darkTheme">
      <layout-menu-top></layout-menu-top>
      <!--<v-snackbar-->
              <!--v-model="alertSnackbar"-->
              <!--:bottom="true"-->
              <!--:right="true"-->
              <!--:timeout="0"-->
              <!--color="error"-->
      <!--&gt;-->
        <!--{{alertMessage}}-->
        <!--<v-btn icon-->
                <!--flat-->
                <!--@click="alertSnackbar=false"-->
        <!--&gt;-->
          <!--<v-icon>close</v-icon>-->
        <!--</v-btn>-->
      <!--</v-snackbar>-->
      <audio id="alertSound" src="/sound/alert1.mp3"></audio>
      <router-view/>
    </v-app>
  </div>
</template>

<script>
    import MenuTop from '@/components/layout/menuTop';
    import { mapActions } from 'vuex';

    export default {
        name: 'defaultTemplate',
        components: {
            'layout-menu-top': MenuTop,
        },
        data() {
            return {
                alertSnackbar: false,
                alertMessage: '',
                alertSound: '',
            }
        },
      head () {
        return {
          title: "HiCo Trading | Cryptocurrency Trading Platform",
        }
      },
        watch: {
            // user: function (newValue, oldValue) {
            //     if (newValue && newValue !== oldValue) {
            //         this.tradingInit();
            //     }
            // },
        },
        mounted () {
            // this.$axios.setHeader('X-locale', this.$store.state.locale);
            // this.tradingInit();
            this.$store.dispatch('tradingManager/tradingInit');
            if(this.user) {
//                 window.Echo.private('user.' + this.user.id)
//                     .listen('.alert_triggered', (e) => {
//                         this.alertMessage = e.alert.symbol + ' (' + e.alert.exchange_name + ') ' + this.$t('text.crossed') + ' ' + e.alert.price;
//                         this.alertSnackbar = true;
// //                        e.alert.sound
//                         this.alertSound = '/sound/alert1.mp3';
//                         document.getElementById('alertSound').play();
//                     }).listen('.balance_updated', (e) => {
//                         this.$store.dispatch('tradingManager/setBalances', {balances: e.balances});
//                     });
            }
        },
        computed: {
            user() {
                return []
                // return this.$auth.user;
            },
        },
        methods: {
            ...mapActions({
                setBalances: 'setBalances',
                tradingInit: 'tradingInit',
            })
        }
    }
</script>
